@charset "UTF-8";
/*!
Name: fujisan-v3
URI: http://
Author: Startbahn‎
Author URI: https://startbahn.jp/
Description: fujisan-v3
Version: 1.0
*/
/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1 Reset
2 Typography
3 Elements
4 Forms
5 Navigation
	Links
	Menus
6 layout
7 Content
	Posts and pages
	Header
	footer
	Widgets
	Comments


--------------------------------------------------------------*/
/* ================================== 
1. Resset 
================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ================================== 
2. Typography
================================== */
body {
  font-family: neue-haas-unica, Gothic MB101 ,sans-serif;
  font-style: normal;
}

.js-bg {
  .letter {
    position: relative;
    width: 100%;
    height: calc(100% - 3px);
    transition: all 200ms;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      min-width: 30px;
      background-color: #ffffff;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }
}

/* ================================== 
3 Elements
================================== */
body {
  color: #2e2c77;
  transition: all 1500ms;
  &.stop {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  &.purple {
    background-color: #0045df;
    .info__inr--title svg .st1 {
      fill: #fff;
    }
    .section__title--txt {
      color: #fff;
    }
    .header__title a svg {
      fill: #ffffff;
    }
    @media screen and (min-width: 768px) {
      .header__sns--list li a {
        color: #fff;
      }
      .header__nav--list li a {
        color: #fff;
      }
    }
    .section__space--list3-details li {
      color: #fff;
      a {
        color: #fff;
      }
    }
    .section__space--list3-inr {
      background-color: #0045df;
    }
    .section__space--titleh3 svg .st0 {
      stroke: #ffffff;
    }
    .section__space--titleh3 span {
      &:before, &:after {
        background: #ffffff;
      }
    }
    .js-bg {
      .letter {
        color: #fff;
        &:after {
          background-color: #0045df;
        }
      }
    }
  }
  &.red {
    background-color: #f53d6e;
    .info__inr--title svg .st1 {
      fill: #fff;
    }
    .section__title--txt {
      color: #fff;
    }
    .header__title a svg {
      fill: #ffffff;
    }
    @media screen and (min-width: 768px) {
      .header__sns--list li a {
        color: #fff;
      }
      .header__nav--list li a {
        color: #fff;
      }
    }
    .section__space--list3-details li {
      color: #fff;
      a {
        color: #fff;
      }
    }
    .section__space--list3-inr {
      background-color: #f53d6e;
    }
    .section__space--titleh3 svg .st0 {
      stroke: #ffffff;
    }
    .section__space--titleh3 span {
      &:before, &:after {
        background: #ffffff;
      }
    }
    .js-bg {
      .letter {
        color: #fff;
        &:after {
          background-color: #f53d6e;
        }
      }
    }
  }
  &.green {
    background-color: #65FAD1;
    .info__inr--title svg .st1 {
      fill: #2e2c77;
    }
    .section__space--list3-inr {
      background-color: #65FAD1;
    }
    .header__title a svg {
      fill: #2e2c77;
    }
    .section__space--titleh3 svg .st0 {
      stroke: #2e2c77;
    }
    .section__space--titleh3 span {
      &:before, &:after {
        background: #2e2c77;
      }
    }
    .js-bg {
      .letter {
        &:after {
          background-color: #65FAD1;
        }
      }
    }
  }
}

.bgFuji {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* ================================== 
4 Forms 
================================== */
/* ================================== 
5 Navigation
================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    &__title {
      margin: 30px 0 60px 40px;
      a {
        color: #000;
        text-align: justify;
        text-decoration: none;
        svg {
          transition: all 1500ms;
        }
      }
    }
    &__menu--btn {
      text-align: center;
      z-index: 200;
      position: fixed;
      width: 80px;
      top: 20px;
      left: 50%;
      margin-left: -40px;
      display: none;
    }
    &__nav {
      margin-left: 40px;
    }
    &__nav--list {
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 20px;
      li {
        margin-bottom: 14px;
        &:last-child {
          margin: 20px 0 0;
        }
        a {
          color: #2e2c77;
          text-decoration: none;
        }
      }
    }
    &__sns--list {
      display: flex;
      li {
      margin-right: 16px;
      font-size: 22px;
      line-height: 22px;
      a {
        color: #2e2c77;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  
  .close-btn {
    display: none;
    text-align: center;
    width: 80px;
    position: fixed;
    left: 50%;
    margin-left: -40px;
    bottom: 60px;
  }
}
.info {
  position: fixed;
  top: 30px;
  right: 40px;  
  z-index: 100; 
  transition: all 1500ms;
  &__inr {
    &--title {
      svg {
        height: calc(100vh - 60px);
        width: auto;
      }
    }
  }
}

/* ================================== 
7 content
================================== */

section {
  padding: 100px 0;
  min-height: 100vh;
  position: relative;
  scroll-snap-type: y;
}

.section {
  &__title {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    &--txt {
      position: sticky;
      top: calc(100vh - 1em - 30px);
      margin-left: 30px;
      font-weight: 100;
      font-size: 110px;
      z-index: 10;
      align-self: flex-end;
      transition: all 1500ms;
    }
    &--txt-2l {    
      position: sticky;
      top: calc(100vh - 2em - 60px);
      margin-left: 30px;
      font-weight: 100;
      font-size: 80px;
      z-index: 10;
      align-self: flex-end;
      img {
        width: 8em;
      }
    }
  }
  &__inr {
    max-width: 1010px;
    padding: 0 200px;
    margin: 0 auto;
    p {
      font-size: 18px;
      font-weight: 100;
      line-height: 1.5;
    }
  }

  //About section style
  &__about {
    padding-top: 540px;
    .section__about--read {
      font-size: 24px;
      margin-bottom: 60px;
    }
    .section__about--txt {
      font-size: 18px;
      margin-top: 30px;
    }
  }

  //News section style
  &__news {
    padding-top: 400px;
  }
  &__news--list {
    li {
      display:  flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #d0d0d0;
      time {
        width: 180px;
        display: block;
        font-size: 14px;;
      }
      h3 {
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.3;
      }
      p {
        font-size: 14px;;
      }
    }
  }

  //Space section style
  &__space {
    &--titleh3 {
      text-align: center;
      color: #fff;
      font-size: 90px;
      margin-bottom: 36px;
      text-shadow: #333 1px 1px 0px, #333 -1px 1px 0px, #333 1px -1px 0px, #333 -1px -1px 0px;
      overflow: hidden;
      span {
        position: relative;
        height: 75px;
        display: inline-block;
        svg {
          height: 100%;
          width: auto;
          vertical-align: top;
        }
      }
      span::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 1px;
        background: #333;
        top: 50%;
        left: calc(-200% - 10px);
        display: block;
      }
      span::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 1px;
        background: #333;
        top: 50%;
        right: calc(-200% - 10px);
        display: block;
      }
    }
    &--list3 {
      width: 100%;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      //空きを均等割りで最終行を左寄せにするため
      &:before{
        content:"";
        display: block;
        width: 252px;
        order:1;
      }
      &:after{
        content:"";
        display: block;
        width: 252px;
      }
      > li {
        width: 33%;
        margin: 0 0 80px 0;
        .section__space--list3-inr {
          width: 252px;
          margin: 0 auto;
          overflow: hidden;
          padding: 10px;
          box-sizing: border-box;
        }
        .section__space--list3-img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        img {
          width:100%;
          height: auto;
        }
        h4 {
          font-size: 17px;
          line-height: 1.64;
          position: relative;
          margin-top: 34px;
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: #ccc;
            display: block;
            position: absolute;
            top: -17px;
            left: 0;
            right: 0;
          }

        }
        address {
          margin-top: 26px;
          font-style: normal;
          line-height: 1.64;
        }
      }
      &-details {
        margin-top: 26px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 5px;
          line-height: 1.54;
          a {
            color: #2e2c77;
            text-decoration: none;
            cursor: pointer;
          }  
        }
        li:nth-child(1)::before {
          font-size: 14px;
          content:'\f073';
          font-family:'Font Awesome 5 Free';
          font-weight: 900;
          margin: 0 9px 0 1px;
        }
        li:nth-child(2)::before {
          font-size: 14px;
          content:'\f017';
          font-family:'Font Awesome 5 Free';
          font-weight:900;
          margin: 0 10px 0 0px;
        }
        li:nth-child(3)::before {
          font-size: 14px;
          content:'\f3c5';
          font-family:'Font Awesome 5 Free';
          font-weight:900;
          margin: 0 8px 0 2px;
        }
      }
    } 
  }

  //picker section style
  &__picker {
      .section__inr {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding: 0;
        margin: 0;
        padding-bottom: 50px;
        margin-bottom: -50px;
        overflow-y: scroll;
        width: 100%;
        max-width: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
        &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
          display:none;
        }
        @media only screen and (max-width: 768px){
          position: relative;
          transform: translateY(0);
          top: auto;
          left: auto;
        }
    }
  }
  &__picker--wrap {
    display: flex;
    width: calc(75% * 7); /* 人数　*/
    padding-right: 150px;
  }
  &__picker--person {
    display: flex;
    padding-left: 150px;
    align-items: center;
    width: 75%;
    &-img {
      width: 45%;
      margin-right: 30px;
      position: relative;
      display: inline-block;
      // デザインできたら背景画像にするかも
      img {
        width: 100%;
        height: auto;
      }
      &.ito::after {
        background: url(images/picker/ito.svg)  no-repeat;
      }
      &.takeda::after {
        background: url(images/picker/takeda.svg)  no-repeat;
      }
       &.yamashita::after {
        background: url(images/picker/yamashita.svg)  no-repeat;
      }
      &.shikata::after {
        background: url(images/picker/shikata.svg)  no-repeat;
      }
      &.sawaragi::after {
        background: url(images/picker/sawaragi.svg)  no-repeat;
      }
      &.hidaka::after {
        background: url(images/picker/hidaka.svg)  no-repeat;
      }
      &.miyatsu::after {
        background: url(images/picker/miyatsu.svg)  no-repeat;
      }
    }
    &-txt {
      width: 55%;
      h3 {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 1.4;
      }
      p {
        line-height: 29px;
        font-size: 14px;
      }
    }
    &:nth-child(odd) {
      padding-bottom: 100px;
      .section__picker--person-img::after {
        height: 120px;
        width: 620px;
        z-index: -1;
        position: absolute;
        display: block;
        bottom: -100px;
        left: 100px;
        content: "";
        background-position: left top;
        background-size: auto 100%;
        stroke: #fff;
      }
    }
    &:nth-child(even) {
      padding-top: 100px;
      .section__picker--person-img::after {
        height: 120px;
        width: 620px;
        z-index: -1;
        position: absolute;
        display: block;
        top: -100px;
        left: 100px;
        content: "";
        background-position: left top;
        background-size: auto 100%;
        stroke: #fff;
      }
    }
  }
}

@media only screen and (max-width: 1310px){
  .section {
    &-details {
      li {
        width: 100%;
      }
    }Q
    &__picker--person{
      &:nth-child(odd),
      &:nth-child(even) {
        .section__picker--person-img p {
          font-size: 110px;
          left: 120px;        
        }     
      }
    }
  }
}

@media only screen and (max-width: 1160px){
  .section {
    &__space--titleh3 {
      font-size: 70px;
    }
    &__space--list3 {
      padding: 0;
      flex-wrap: wrap;
      > li {
          width: 50%;
      }
       //空きを均等割りで最終行を左寄せにするためのbefore after
      &:before{
        order:1;
      }
      &:after{
        width: 50%;
      }
    }
    &__picker--person {
      &:nth-child(odd) {
        .section__picker--person-img::after {
          bottom: -80px;
          height: 90px;
          width: 500px;
          left: 90px;
        }
      }
      &:nth-child(even) {
        .section__picker--person-img::after {
          top: -80px;
          height: 90px;
          width: 500px;
          left: 90px;
        }
      }
    }
  } 
}


@media only screen and (max-width: 900px){
  
  section {
    .section__title--txt,
    .section__title--txt-2l {
      font-size: 60px;
    }
  }

  .header {
    position: fixed;
    width: 100%;
    &__title {
      position: fixed;
      margin: 20px 0 0 20px;
      z-index: 100;
      width: 65px;
      height: auto;
    }
    &__menu--btn {
      display: block;
      z-index: 200;
    }
    &__nav {
      position: fixed;
      box-sizing: border-box;
      top: 0;
      margin: 0;
      padding-top: calc(100vh * 0.2);
      width: 100%;
      background: rgba( 255, 255, 255, 0.85);
      z-index: 99;
      display: none;  
      padding-left: 20px;
      height: 100vh;
    }
    .is-show {
      display: block; 
    }
    .close-btn {
      display: block;
    }
    &__nav--list {     
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
        font-size: 50px;
        &:last-child {
          margin-top: 20px;
          font-size: 20px;
        }
      }
    }
    &__sns--list {
      li {
      margin-right: 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
  .info {
    position: absolute;
  }
  .section__title--txt,
  .section__title--txt-2l {
    font-size: 40px;
  }

  .section {

    &__inr {
      padding: 0 20px;
      max-width: 100%;
      p {
        font-size: 14px;
      }
    }

    &__space {
      &--titleh3 {
        font-size: 45px;
      }
    }

    &-details {
      li {
        font-size: 11px;
      }
    }
  }
}


@media only screen and (max-width: 768px){
  .section {

    &__picker--wrap{
      flex-wrap: wrap;
      width: 100%;
      padding-right: 0;
    }

    &__picker--person{
      display: block;
      padding: 30px 50px 0 50px;
      margin: 0;
      width: 100%;
      overflow: hidden;
      padding-top: 100px; 
      &:nth-child(odd) {
        padding-top: 100px;
        padding-bottom: 0;
        .section__picker--person-img::after {
          position: absolute;
          top: -80px;
          bottom: auto;
          left: -60px;
          margin-right: 0;
          width: 90px;
          height: 500px;
          background-size: 100% auto;
        }
      }
      &:nth-child(even) {
        padding-top: 100px;
        .section__picker--person-img::after {
          position: absolute;
          top: -80px;
          left: auto;
          right: -60px;
          margin-right: 0;
          display: block;
          width: 90px;
          height: 500px;
          background-size: 100% auto;
        }     
      }
    }
    &__space--titleh3 {
      span {
        height: 50px;
      }
    }
    &__picker--person-img {
      width: 80%;
      margin: 0 10%;
      &.ito::after {
        background: url(images/picker/sp_ito.svg)  no-repeat;
      }
      &.takeda::after {
        background: url(images/picker/sp_takeda.svg)  no-repeat;
      }
       &.yamashita::after {
        background: url(images/picker/sp_yamashita.svg)  no-repeat;
      }
      &.shikata::after {
        background: url(images/picker/sp_shikata.svg)  no-repeat;
      }
      &.sawaragi::after {
        background: url(images/picker/sp_sawaragi.svg)  no-repeat;
      }
      &.hidaka::after {
        background: url(images/picker/sp_hidaka.svg)  no-repeat;
      }
      &.miyatsu::after {
        background: url(images/picker/sp_miyatsu.svg)  no-repeat;
      }    
    }

    &__picker--person-txt {
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      width: 100%;
      h3 {
        margin: 40px 0 20px;
      }
    }
  }
}


@media only screen and (max-width: 568px){
  section {
    .section__title--txt,
    .section__title--txt-2l {
      font-size: 30px;
    }
  }
  .section {
    &__picker--person-img {
      &:nth-child(odd),
      &:nth-child(even) {
          .section__picker--person-img::after {
            top: -60px;
            margin-right: 0;
            width: 80px;
            height: 450px;
          }
        }
    }
    &__space--titleh3 {
      span {
        height: 30px;
      }
    }
    &__space--list3 {
        &:before{
          width: 48%;
        }
        &:after{
          width: 48%;
        }
        > li {
          width: 48%;
          .section__space--list3-inr {
            width: 100%;
            margin: 0 auto;
          }
          .section__space--list3-img {
            width: 100%;
            height: auto;       
          }
        }
      }
    }
}