@charset "UTF-8";
/*!
Name: fujisan-v3
URI: http://
Author: Startbahn‎
Author URI: https://startbahn.jp/
Description: fujisan-v3
Version: 1.0
*/
/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1 Reset
2 Typography
3 Elements
4 Forms
5 Navigation
	Links
	Menus
6 layout
7 Content
	Posts and pages
	Header
	footer
	Widgets
	Comments

--------------------------------------------------------------*/
/* ================================== 
1. Resset 
================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*
html {
  scroll-behavior: smooth;
}*/
body {
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ================================== 
2. Typography
================================== */
body {
  font-family: neue-haas-unica,ゴシックMB101 M, Gothic MB101 ,sans-serif;
  font-style: normal;
}

.js-bg {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px 0 0;
}

.js-bg .letter {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
  font-weight: 100;
  z-index: 1;
  font-size: 14px;
}

.js-bg .letter:after {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + 16px);
  min-width: 30px;
  background-color: #ffffff;
  bottom: -8px;
  left: 0;
  z-index: -1;
}

/* ================================== 
3 Elements
================================== */
body {
  color: #4c2ee5;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

body.stop {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

body.purple {
  background-color: #4c2ee5;
}

body.purple.is-show .header__title a svg {
  fill: #4c2ee5;
  stroke: #4c2ee5;
}

body.purple.is-show .header__menu--btn {
  color: #4c2ee5;
}

body.purple .info__inr--title svg g {
  fill: #fff;
  stroke: #ffffff;
}

body.purple .section__title--txt {
  color: #fff;
}

body.purple .header__title a svg {
  fill: #ffffff;
  stroke: #ffffff;
}

body.purple .header__menu--btn {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  body.purple .header__sns--list li a {
    color: #fff;
  }
  body.purple .header__nav--list li a {
    color: #fff;
  }
  body.purple .header__nav--list li a svg .cls-1 {
    fill: #fff;
    stroke: #ffffff;
  }
}

body.purple .section__space--list3-inr:hover {
  color: #4c2ee5;
}

body.purple .section__space--list3-details li {
  color: #fff;
}

body.purple .section__space--list3-details li a {
  color: #fff;
}

body.purple .section__space--list3-details li h4::after {
  background: #fff;
}

body.purple .section__space--list3-inr {
  color: #ffffff;
  background-color: #4c2ee5;
}

body.purple .section__space--titleh3 svg .st0 {
  stroke: #ffffff;
}

body.purple .section__space--titleh3 span:before, body.purple .section__space--titleh3 span:after {
  background: #ffffff;
}

body.purple .js-bg .letter {
  color: #fff;
}

body.purple .js-bg .letter:after {
  background-color: #4c2ee5;
}

body.purple .css-bg {
  background-color: #4c2ee5;
  line-height: 1.8;
  display: inline;
  padding: 6px 0;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
}

body.purple .css-bg:after {
  content: "";
  display: block;
  height: 20px;
}

body.purple a[href]:hover .css-bg {
  background-color: #fff;
  color: #4c2ee5;
}

body.red {
  background-color: #f53d6e;
}

body.red.is-show .header__title a svg {
  fill: #4c2ee5;
  stroke: #4c2ee5;
}

body.red.is-show .header__menu--btn {
  color: #4c2ee5;
}

body.red .info__inr--title svg g {
  fill: #fff;
  stroke: #ffffff;
}

body.red .section__title--txt {
  color: #fff;
}

body.red .header__title a svg {
  fill: #ffffff;
  stroke: #ffffff;
}

body.red .header__menu--btn {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  body.red .header__sns--list li a {
    color: #fff;
  }
  body.red .header__nav--list li a {
    color: #fff;
  }
  body.red .header__nav--list li a svg .cls-1 {
    fill: #fff;
    stroke: #ffffff;
  }
}

body.red .section__space--list3-details li {
  color: #fff;
}

body.red .section__space--list3-details li a {
  color: #fff;
}

body.red .section__space--list3-details li h4::after {
  background: #fff;
}

body.red .section__space--list3-details li:hover {
  background: #fff;
  color: #f53d6e;
}

body.red .section__space--list3-inr {
  color: #ffffff;
  background-color: #f53d6e;
}

body.red .section__space--list3-inr:hover {
  color: #f53d6e;
}

body.red .section__space--titleh3 svg .st0 {
  stroke: #ffffff;
}

body.red .section__space--titleh3 span:before, body.red .section__space--titleh3 span:after {
  background: #ffffff;
}

body.red .js-bg .letter {
  color: #fff;
}

body.red .js-bg .letter:after {
  background-color: #f53d6e;
}

body.green {
  background-color: #65FAD1;
}

body.green .section__event--list li a {
  color: #4c2ee5;
  background-color: #65FAD1;
}

body.green .section__event--list li a:hover {
  background: #fff;
}

body.green .info__inr--title svg g {
  fill: #4c2ee5;
  stroke: #4c2ee5;
}

body.green .section__space--list3-inr {
  color: #4c2ee5;
  background-color: #65FAD1;
}

body.green .header__title a svg {
  fill: #4c2ee5;
  stroke: #4c2ee5;
}

body.green .header__menu--btn {
  color: #4c2ee5;
}

body.green .section__space--titleh3 svg .st0 {
  stroke: #4c2ee5;
}

body.green .section__space--list3-details li h4::after {
  background: #4c2ee5;
}

body.green .section__space--titleh3 span:before, body.green .section__space--titleh3 span:after {
  background: #4c2ee5;
}

body.green .js-bg .letter:after {
  background-color: #65FAD1;
}

body.green .css-bg {
  background-color: #65FAD1;
  line-height: 1.8;
  display: inline;
  padding: 6px 0;
  font-weight: normal !important;
  font-size: 14px;
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
}

body.green .css-bg:after {
  content: 　 "";
  display: block;
  height: 20px;
}

body.green a[href]:hover .css-bg {
  background-color: #fff;
}

body .section__space--list3-inr:hover {
  background-color: #fff;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.bgFuji {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* ================================== 
4 Forms 
================================== */
/* ================================== 
5 Navigation
================================== */
.selection__popup {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

.selection__popup--inr {
  position: fixed;
  max-width: 1012px;
  width: calc(100% - 40px);
  top: 50%;
  left: 50%;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-x: scroll;
}

.selection__popup--inr .selection__popup--txt {
  width: 50%;
  max-width: 506px;
  padding: 70px 50px 50px 50px;
  background: #65F8CE;
  font-size: 12px;
  line-height: 20px;
  color: #F53C6E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.selection__popup--inr .selection__popup--txt .btn__close {
  stroke: #F53C6E;
  background: none;
  top: 40px;
}

.selection__popup--inr .selection__popup--txt h2 svg {
  width: 100%;
}

.selection__popup--inr .selection__popup--img {
  width: 50%;
}

.selection__popup--inr .selection__popup--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.selection__popup .black-background {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  position: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__title {
  margin: 30px 0 30px 40px;
}

.header__title a {
  color: #000;
  text-align: justify;
  text-decoration: none;
}

.header__title a svg {
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
  width: 118px;
  height: 154px;
}

.header__menu--btn {
  text-align: center;
  z-index: 200;
  position: fixed;
  width: 80px;
  top: 20px;
  left: 50%;
  margin-left: -40px;
  display: none;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.header__nav {
  margin-left: 40px;
}

.header__nav--list {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.header__nav--list li {
  margin-bottom: 10px;
}

.header__nav--list li:last-child {
  margin: 20px 0 0;
}

.header__nav--list li a {
  color: #4c2ee5;
  text-decoration: none;
  min-height: 32px;
}

.header__nav--list li a.startbahn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--list li svg {
  height: 21px;
  margin: 0 5px 0 0;
}

.header__sns--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sns--list li {
  margin-right: 16px;
  font-size: 22px;
  line-height: 22px;
}

.header__sns--list li a {
  color: #4c2ee5;
}

.header__sns--list li:last-child {
  margin: 0;
}

.header .close-btn {
  display: none;
  text-align: center;
  width: 80px;
  position: fixed;
  left: 50%;
  margin-left: -40px;
  bottom: 60px;
}

.info {
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 100;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.info__inr--title svg {
  height: calc(100vh - 60px);
  width: auto;
}

@media screen and (max-width: 768px) {
  .info {
    right: 15px;
  }
}

.acd-label {
  display: none;
}

.breadcrumb__list {
  color: #fff;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}

.breadcrumb__list li {
  margin: 0 20px 12px 0;
  display: inline-block;
  vertical-align: top;
}

.breadcrumb__list li:after {
  content: ">";
  padding-left: 20px;
}

.breadcrumb__list li:last-child:after {
  content: none;
}

.breadcrumb__list li a {
  color: #65FAD1;
  text-decoration: none;
}

/* ================================== 
7 content
================================== */
section {
  padding: 100px 0;
  min-height: 100vh;
  position: relative;
  -ms-scroll-snap-type: y;
      scroll-snap-type: y;
}

.section {
  /* ===== About section style ===== */
  /* ===== Selection Satelite 共通 style ===== */
  /* ===== Selection section style ===== */
  /* ===== Satelite section style ===== */
  /* ===== News section style ===== */
  /* ===== Event section style ===== */
  /* ===== Space section style ===== */
  /* ===== Picker section style ===== */
}

.section__title {
  pointer-events: none;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.section__title--txt {
  position: -webkit-sticky;
  position: sticky;
  top: calc(100vh - 1em - 30px);
  margin-left: 30px;
  font-weight: 100;
  font-size: 110px;
  z-index: 98;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.section__title--txt-2l {
  position: -webkit-sticky;
  position: sticky;
  top: calc(100vh - 2em - 60px);
  margin-left: 30px;
  font-weight: 100;
  font-size: 80px;
  z-index: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section__title--txt-2l svg {
  width: 8em;
  fill: #ffffff;
  stroke: #ffffff;
}

@media screen and (max-width: 768px) {
  .section__title--txt-2l svg {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section__title--txt-2l {
    top: calc(100vh - 2em);
  }
}

.section__inr {
  max-width: 1010px;
  padding: 0 200px;
  margin: 0 auto;
}

.section__inr p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  word-break: break-all;
}

.section__about {
  padding-top: 190px;
}

.section__about--copy {
  font-size: 17px !important;
  line-height: 2.2 !important;
  background: #4c2ee5;
  padding: 10px;
  color: #fff;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__about--copy + .section__about--copy {
  margin-top: 20px;
}

.section__about--exhibition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.section__about--exhibition li {
  width: calc(50% - 30px);
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
}

.section__about--exhibition li .section__about--exhibition-title {
  font-size: 20px !important;
  line-height: 1.3;
  margin-bottom: 15px;
  background: #4c2ee5;
  color: #fff;
  display: inline-block;
  padding: 3px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__about--exhibition li .section__about--exhibition-date {
  background: #4c2ee5;
  color: #fff;
  padding: 3px;
}

.section__about--exhibition li .section__about--exhibition-date > p {
  line-height: 1.4;
  font-size: 15px;
}

.section__about--exhibition li .section__about--exhibition-discription {
  margin-top: 15px !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
}

.section__about .section__about--txt {
  font-size: 18px;
  margin-top: 30px;
  position: relative;
  line-height: 1.6;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__about .section__about--txt dt {
  position: absolute;
  top: 0;
  left: 0;
}

.section__about .section__about--txt dd {
  word-break: break-all;
}

.section__about .section__about--txt dd a {
  display: inline;
  color: cornflowerblue;
}

.section__about .section__about--txt dd a:hover {
  text-decoration: none;
}

.section__about .section__about--txt dd a[href]:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section__about--indent-no {
  text-indent: 0;
  padding: 0 0 0 58px;
  margin-top: 0 !important;
}

.section__about--indent2 {
  padding-left: 58px;
}

.section__about--indent4 {
  padding-left: 90px;
}

.section__about--indent5 {
  padding-left: 110px;
}

.section__about--indent8 {
  padding-left: 144px;
}

.section__about .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
}

.section__about .banner a {
  display: block;
  padding: 9px 9px 5px 9px;
  background: #4c2ee5;
  width: calc((100% - 120px)/4);
  margin-right: 1%;
  margin-bottom: 10px;
}

.section__about .banner a img {
  width: 100%;
}

.section__bgblue {
  display: inline-block !important;
  font-size: 14px;
  background: #4c2ee5;
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 8px;
  padding-top: 4px;
}

.section__bgblue p {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding-right: 14px;
}

.section__bgblue p::after {
  content: "/";
  color: #fff;
  text-align: center;
  width: 20px;
  display: inline-block;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.section__bgblue:last-child:after {
  display: none;
}

.section__selection--exhibition {
  margin-top: 60px;
}

.section__selection--exhibition-title {
  font-size: 24px !important;
  line-height: 1.3;
  padding: 3px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
  margin-bottom: 8px;
}

.section__selection--exhibition-title .letter {
  font-size: 24px !important;
}

.section__selection--exhibition-txt {
  font-size: 24px !important;
  line-height: 1;
  margin-bottom: 25px;
  padding: 3px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__selection--exhibition-txt .letter {
  font-size: 24px !important;
}

.section__selection--exhibition-discription {
  margin-top: 15px !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
}

.section__selection--exhibition > div {
  width: 100%;
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
}

.section__selection--txt {
  margin-top: 30px;
}

.section__selection--artist {
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 8px;
  padding-top: 4px;
  color: #fff;
  margin-top: 30px;
}

.section__selection--artist > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.section__selection--artist div + div {
  margin-top: 30px;
}

.section__selection--artist dt {
  color: #fff;
}

.section__selection--artist dd {
  display: block;
}

.section__selection--artist dd a {
  color: #65FAD1;
  text-decoration: none;
}

.section__selection--artist dd span {
  color: #65FAD1;
}

.section__selection--artist dd a.buy-btn {
  color: #4c2ee5;
}

.section__selection--artist span:after {
  content: "/";
  color: #fff;
  width: 16px;
  display: inline-block;
  text-align: center;
}

.section__satelite--artist {
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 8px;
  padding-top: 4px;
  margin-top: 30px;
}

.section__satelite--artist > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.section__satelite--artist div + div {
  margin-top: 30px;
}

.section__satelite--artist dt {
  margin-bottom: 8px;
}

.section__satelite--artist dd {
  display: block;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__satelite--artist dd a.buy-btn {
  color: #4c2ee5;
}

.section__selection--exhibition-discription {
  color: #fff;
}

.section__selection--list3 {
  margin-top: 90px;
  padding-top: 90px;
  border-top: 1px solid #d0d0d0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__selection--list3:before {
  content: "";
  display: block;
  width: 33%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section__selection--list3:after {
  content: "";
  display: block;
  width: 33%;
}

.section__selection--list3-txt {
  font-size: 14px !important;
  margin-top: 26px;
  font-style: normal;
  line-height: 1.64;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__selection--list3-artist {
  font-size: 12px;
  margin-top: 20px;
  line-height: 18px;
}

.section__selection--list3-artist dt::before {
  content: '■';
  display: inline-block;
}

.section__selection--list3-artist dt::after {
  content: '：';
  display: inline-block;
}

.section__selection--list3 > li {
  width: 33%;
  margin: 0 0 80px 0;
}

.section__selection--list3 > li .section__selection--list3-inr {
  width: 252px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #4c2ee5;
  color: #fff;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
  display: block;
}

.section__selection--list3 > li .section__selection--list3-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section__selection--list3 > li img {
  width: 100%;
  text-align: center;
}

.section__selection--list3 > li h4 {
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
  font-size: 15px;
  line-height: 1.64;
  position: relative;
  margin-top: 34px;
}

.section__selection--list3 > li h4::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ccc;
  display: block;
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
}

.section__selection--selectbox {
  margin-right: calc((100% - 756px)/6);
  margin-left: calc((100% - 756px)/6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px 10px 10px;
  background: #4c2ee5;
  padding: 10px;
  color: #fff;
}

.section__selection--selectbox > div {
  width: 46%;
}

.section__selection--selectbox > div > svg {
  width: 100%;
  max-width: 382px;
}

.section__selection--selectbox > div p {
  font-size: 14px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__selection--selectbox > div:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section__selection--address {
  font-size: 15px;
  margin: 30px 0;
  line-height: 1.66;
}

.section__selection--address address {
  font-style: normal !important;
}

.section__news {
  padding: 300px 0;
  min-height: auto;
}

@media screen and (max-width: 768px) {
  .section__news {
    padding: 100px 0;
  }
}

.section__news--list li a {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d0d0d0;
  text-decoration: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  color: #4c2ee5;
}

.section__news--list li a[href]:hover .js-bg span.letter {
  color: #4c2ee5;
}

.section__news--list li a[href]:hover .js-bg span.letter:after {
  background-color: #fff;
}

.section__news--list li a .section__news--tag {
  margin-bottom: 10px;
}

.section__news--list li a time {
  width: 180px;
  display: block;
  font-size: 14px;
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
}

.section__news--list li a h3 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.3;
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
}

.section__news--list li a p {
  font-size: 14px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

@media screen and (max-width: 768px) {
  .section__news--list li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section__news--list li a .section__news--list-time {
    padding-bottom: 6px;
  }
  .section__news--list li a h3 {
    margin: 0 0 15px;
  }
}

.section__event {
  padding: 300px 0;
  min-height: auto;
}

@media screen and (max-width: 768px) {
  .section__event {
    padding: 100px 0;
  }
}

.section__event--list-title {
  height: 23px;
  overflow: hidden;
}

.section__event--list-text {
  margin-top: 30px;
  height: 43px;
  overflow: hidden;
}

.section__event--list li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background: #4c2ee5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  overflow: hidden;
}

.section__event--list li a:hover {
  background: #fff;
  color: #4c2ee5;
}

.section__event--list li a img {
  width: 252px;
  height: auto;
  display: block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.section__event--list li a .section__event--list-inr {
  padding: 0 10px;
}

.section__event--list li a h3 {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.section__event--list li a p {
  font-size: 14px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .section__event--list li a h3 {
    margin: 0 0 15px;
  }
}

.section__space--titleh3 {
  text-align: center;
  color: #fff;
  font-size: 90px;
  margin-bottom: 36px;
  text-shadow: #333 1px 1px 0px, #333 -1px 1px 0px, #333 1px -1px 0px, #333 -1px -1px 0px;
  overflow: hidden;
}

.section__space--titleh3 span {
  position: relative;
  height: 75px;
  display: inline-block;
}

.section__space--titleh3 span svg {
  height: 100%;
  width: auto;
  vertical-align: top;
}

.section__space--titleh3 span svg .st0 {
  stroke-width: 0.5px;
}

.section__space--titleh3 span::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 1px;
  background: #333;
  top: 50%;
  left: calc(-200% - 10px);
  display: block;
}

.section__space--titleh3 span::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 1px;
  background: #333;
  top: 50%;
  right: calc(-200% - 10px);
  display: block;
}

.section__space--txt {
  font-size: 18px;
  margin-top: 30px;
  position: relative;
  line-height: 1.6;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__space--txt dt {
  position: absolute;
  top: 0;
  left: 0;
}

.section__space--txt dd {
  word-break: break-all;
}

.section__space--txt dd a {
  display: inline;
  color: cornflowerblue;
}

.section__space--txt dd a:hover {
  text-decoration: none;
}

.section__space--txt dd a[href]:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section__space--list3 {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__space--list3:before {
  content: "";
  display: block;
  width: 33%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section__space--list3:after {
  content: "";
  display: block;
  width: 33%;
}

.section__space--list3 > li {
  width: 33%;
  margin: 0 0 80px 0;
  cursor: pointer;
}

.section__space--list3 > li .section__space--list3-inr {
  width: 252px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
  display: block;
}

.section__space--list3 > li .section__space--list3-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section__space--list3 > li img {
  width: 100%;
  height: auto;
}

.section__space--list3 > li h4 {
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
  font-size: 15px;
  line-height: 1.64;
  position: relative;
  margin-top: 34px;
}

.section__space--list3 > li h4::after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ccc;
  display: block;
  position: absolute;
  top: -17px;
  left: 0;
  right: 0;
}

.section__space--list3 > li address {
  font-size: 14px;
  margin-top: 26px;
  font-style: normal;
  line-height: 1.64;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__space--list3-details {
  margin-top: 26px;
}

.section__space--list3-details li {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  line-height: 1.54;
}

.section__space--list3-details li a {
  color: #4c2ee5;
  text-decoration: none;
  cursor: pointer;
}

.section__space--list3-details li:nth-child(1)::before {
  font-size: 14px;
  content: '\f3c5';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin: 0 8px 0 2px;
}

.section__picker--detail {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
}

.section__picker-pop {
  display: none;
  position: relative;
}

.section__picker-pop .black-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.section__picker-pop .section__picker-popup--inr {
  position: fixed;
  height: 0;
  width: calc(100% - 40px);
  max-width: 880px;
  z-index: 100000;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.section__picker-popup {
  color: #4C2FE5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  background: #fff;
  position: fixed;
  z-index: 10000;
  width: calc(100% - 40px);
  max-width: 880px;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 20px;
  overflow-x: scroll;
}

.section__picker-popup h2 {
  font-size: 24px;
  padding-right: 30px;
}

.section__picker-popup h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 25px;
}

.section__picker-popup--select {
  margin: 50px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  overflow: hidden;
}

.section__picker-popup--select-img {
  margin-right: 60px;
  width: 52.5%;
  overflow: hidden;
}

.section__picker-popup--select-img img {
  width: 100%;
  top: 0;
}

.section__picker-popup--art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -80px;
}

.section__picker-popup--art > li {
  width: calc((100% - 160px) / 3);
  margin-right: 80px;
  margin-bottom: 80px;
}

.section__picker-popup--art > li:nth-child(3n) {
  margin-right: 0;
}

.section__picker-popup--art > li img {
  width: 100%;
}

.section__picker-popup--channel {
  display: inline-block;
  margin-top: 16px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
  background: url(images/blank.png) right center no-repeat;
  background-size: 16px 16px;
  padding-right: 20px;
}

.section__picker-popup--comment {
  font-size: 14px;
  line-height: 29px;
}

.section__picker-popup--txt {
  width: calc(47.5% - 60px);
}

.section__picker .section__inr {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  margin-bottom: -50px;
  overflow-y: scroll;
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

.section__picker .section__inr::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

@media only screen and (max-width: 768px) {
  .section__picker .section__inr {
    position: relative;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: auto;
    left: auto;
  }
}

.section__picker .btn__picker-pop {
  border-radius: 25px;
  background: #fff;
  display: inline-block;
  padding: 16px 25px 16px 25px;
  color: #F53D6E;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__picker .btn__picker-pop:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #F53D6E;
  border-right: 1px solid #F53D6E;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 4px;
}

.section__picker--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(75% * 7);
  /* 人数　*/
  padding-right: 150px;
}

.section__picker--person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.section__picker--person-img {
  width: 45%;
  margin-right: 30px;
  position: relative;
  display: inline-block;
}

.section__picker--person-img img {
  width: 100%;
  height: auto;
}

.section__picker--person-img.ito::after {
  background: url(images/picker/ito.svg) no-repeat;
}

.section__picker--person-img.takeda::after {
  background: url(images/picker/takeda.svg) no-repeat;
}

.section__picker--person-img.yamashita::after {
  background: url(images/picker/yamashita.svg) no-repeat;
}

.section__picker--person-img.shikata::after {
  background: url(images/picker/shikata.svg) no-repeat;
}

.section__picker--person-img.sawaragi::after {
  background: url(images/picker/sawaragi.svg) no-repeat;
}

.section__picker--person-img.hidaka::after {
  background: url(images/picker/hidaka.svg) no-repeat;
}

.section__picker--person-img.miyatsu::after {
  background: url(images/picker/miyatsu.svg) no-repeat;
}

.section__picker--person-txt {
  width: 55%;
}

.section__picker--person-txt h3 {
  margin-bottom: 34px;
  line-height: 1.4;
  font-family: ゴシックMB101 M, Gothic MB101 Medium;
}

.section__picker--person-txt h3 span.letter {
  font-size: 24px;
}

.section__picker--person-txt p {
  line-height: 29px;
  font-size: 14px;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.section__picker--person:nth-child(odd) {
  padding-bottom: 100px;
}

.section__picker--person:nth-child(odd) .section__picker--person-img::after {
  height: 120px;
  width: 620px;
  z-index: -1;
  position: absolute;
  display: block;
  bottom: -100px;
  left: 100px;
  content: "";
  background-position: left top;
  background-size: auto 100%;
  stroke: #fff;
}

.section__picker--person:nth-child(even) {
  padding-top: 100px;
}

.section__picker--person:nth-child(even) .section__picker--person-img::after {
  height: 120px;
  width: 620px;
  z-index: -1;
  position: absolute;
  display: block;
  top: -100px;
  left: 100px;
  content: "";
  background-position: left top;
  background-size: auto 100%;
  stroke: #fff;
}

.section__news-press, .section__events {
  padding-top: 204px;
}

.section__space-pop {
  display: none;
}

.section__space-pop .black-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.section__space-popup {
  color: #4C2FE5;
  padding: 40px;
  background: #fff;
  position: fixed;
  z-index: 10000;
  width: calc(100% - 40px);
  max-width: 880px;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 20px;
  overflow-x: scroll;
}

.section__space-popup h2 {
  font-size: 24px;
  padding-right: 30px;
}

.section__space-popup h3 {
  font-size: 18px;
  font-weight: normal;
}

.section__space-popup--info {
  margin-top: 10px;
  font-size: 14px;
}

.section__space-popup--info .section__space-popup--info-theta {
  width: 100% !important;
  min-height: 480px;
  overflow: hidden;
  position: relative;
}

.section__space-popup--info .section__space-popup--info-theta > iframe {
  position: absolute;
  top: 0;
  width: 100% !important;
  height: 100%;
  min-height: 478px;
  margin-right: 0;
  overflow: hidden;
}

.section__space-popup--info-img {
  margin-right: 60px;
  width: 100%;
  position: relative;
}

.section__space-popup--info-txt {
  margin-top: 30px;
  width: 100%;
}

.section__space-popup--info p {
  line-height: 2;
}

.section__space-popup--detail {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #D0D0D0;
}

.section__space-popup--detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 22px;
  width: 100%;
}

.section__space-popup--detail div dt {
  width: 80px;
}

.section__space-popup--detail div dd {
  width: calc(100% - 80px);
}

.section__space-popup--detail div dd a[target="_blank"] {
  text-overflow: ellipsis;
  padding-right: 18px;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(images/blank.png) center right no-repeat;
  background-size: 16px 16px;
}

.section__space-popup--detail div dd pre {
  white-space: pre-wrap;
}

.section__space-popup--artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  font-size: 15px;
  margin-bottom: -20px;
  margin-right: -20px;
}

.section__space-popup--artist a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  padding-right: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__space-popup--artist a img {
  margin-right: 20px;
}

.section__space-popup h3 {
  margin: 80px 0 30px;
}

/* ===== Space Popup section style ===== */
.section__space-popup--inr {
  position: fixed;
  height: 0;
  width: calc(100% - 40px);
  max-width: 880px;
  z-index: 100000;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.btn__close {
  position: fixed;
  right: 38px;
  top: 32px;
  width: 44px;
  height: 44px;
  padding: 12px;
  display: inline;
  background: #fff;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  stroke: #4c2fe5;
}

.section__space-popup--btn {
  margin-top: 10px;
  line-height: 46px;
  background: #4C2FE5;
  color: #fff;
  border-radius: 23px;
  border: 1px solid #4C2FE5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 160px;
  font-size: 12px;
  display: block;
  text-decoration: none;
}

.section__space-popup--btn #section__space-popup--blank {
  fill: #fff;
}

.section__space-popup--btn:hover {
  background: #fff;
  color: #4C2FE5;
}

.section__space-popup--btn:hover #section__space-popup--blank {
  fill: #4C2FE5;
}

.closed-txt {
  background: #F53C6E;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 10px;
}

.icon-new {
  font-style: italic;
  font-weight: normal;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 20px;
  color: #F53C6E;
  background: #fff;
  margin-left: 8px;
}

.buy-btn {
  border-radius: 30px;
  background: #fff;
  display: inline-block;
  padding: 0px 25px;
  color: #4C2FE5;
  font-size: 14px;
  margin-top: 10px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 10px 0;
}

.buy-btn svg {
  margin: 0 0 -1px 5px;
}

.buy-btn svg g {
  fill: #4C2FE5;
}

.link__more {
  float: right;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1em;
  position: relative;
}

.link__more:after {
  content: "→";
  display: inline-block;
  margin-right: -1em;
}

.link__more:before {
  position: absolute;
  content: "";
  display: block;
  background: #fff;
  height: 1px;
  left: 0;
  bottom: -2px;
  width: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.link__more:hover {
  color: #fff;
}

.link__more:hover:before {
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#maps {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.acd-check,
.acd-check {
  display: none;
}

.acd-label {
  display: block;
  font-size: 14px;
  text-align: right;
}

.acd-label:before {
  content: "もっと読む";
  color: #fff;
  display: block;
  margin-bottom: 1px;
  margin: 10px 20px;
  padding-right: 20px;
  background: url(images/icon_more.png) right center no-repeat;
  background-size: 12px 12px;
}

.section__about--pullwrap {
  overflow: hidden;
  padding: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.acd-check:checked + .acd-label:before {
  content: "閉じる";
  background: url(images/icon_close.png) right center no-repeat;
  background-size: 12px 12px;
}

.acd-check:checked + .acd-label + .section__about--pullwrap {
  height: auto;
  opacity: 1;
  padding: 0;
  visibility: visible;
}

.article__inr {
  max-width: 1010px;
  padding: 0 200px 0;
  margin: 0 auto;
}

.article__title {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.article__content {
  margin: 0 40px;
  color: #fff;
}

.article__content h2 {
  margin: 50px 0 20px;
  font-size: 24px;
  line-height: 1.4;
}

.article__content h3 {
  margin: 40px 0 15px;
  font-size: 22px;
  line-height: 1.4;
}

.article__content p {
  margin-bottom: 20px;
  line-height: 1.7;
  font-family: ゴシックMB101 L, Gothic MB101 Light;
}

.article__content p.note {
  font-size: 12px;
  padding-left: 12px;
  position: relative;
}

.article__content p.note:after {
  position: absolute;
  content: "*";
  width: 12px;
  text-align: center;
  display: inline-block;
  left: 0;
  top: 2px;
}

.article__content p + .note {
  margin-top: -16px;
}

.article__content a {
  color: #65FAD1;
  text-decoration: none;
  word-break: break-all;
}

.article__content a:hover {
  text-decoration: underline;
}

.article__image {
  width: 100%;
  margin-bottom: 40px;
}

.article__image img {
  width: 100%;
}

.article .section__news--list li a h3 {
  background: #65F8CE;
  display: inline;
  font-size: 14px;
}

@media only screen and (max-width: 1310px) {
  .section-details li {
    width: 100%;
  }
  .section__picker--person:nth-child(odd) .section__picker--person-img p, .section__picker--person:nth-child(even) .section__picker--person-img p {
    font-size: 110px;
    left: 120px;
  }
  .section__news--list li a h3 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1160px) {
  .selection__popup {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .selection__popup--inr {
    position: fixed;
    max-width: 1012px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-x: hidden;
  }
  .selection__popup--inr .selection__popup--txt {
    width: 100%;
    padding: 70px 20px 20px 20px;
    background: #65F8CE;
    font-size: 11px;
    color: #F53C6E;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
  }
  .selection__popup--inr .selection__popup--txt h2 svg {
    width: 100%;
  }
  .selection__popup--inr .selection__popup--txt p {
    line-height: 14px;
    max-width: 410px;
    margin: 0 auto;
  }
  .selection__popup--inr .selection__popup--img {
    width: 100%;
    margin: 0;
  }
  .selection__popup--inr .selection__popup--img img {
    width: 100%;
  }
  .selection__popup .black-background {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: fixed;
  }
  .section__space--titleh3 {
    font-size: 70px;
  }
  .section__selection--list3, .section__space--list3 {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__selection--list3 > li, .section__space--list3 > li {
    width: 50%;
  }
  .section__selection--list3:before, .section__space--list3:before {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section__selection--list3:after, .section__space--list3:after {
    width: 50%;
  }
  .section__picker--person:nth-child(odd) .section__picker--person-img::after {
    bottom: -80px;
    height: 90px;
    width: 500px;
    left: 90px;
  }
  .section__picker--person:nth-child(even) .section__picker--person-img::after {
    top: -80px;
    height: 90px;
    width: 500px;
    left: 90px;
  }
}

@media only screen and (max-width: 900px) {
  .selection__popup--inr {
    display: block;
    max-width: 360px;
  }
  .selection__popup--inr .selection__popup--txt {
    max-width: 360px;
  }
  section .section__title--txt,
  section .section__title--txt-2l {
    font-size: 60px;
  }
  .icon-new {
    border: 1px solid #F53C6E;
    margin-top: 8px;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header__title {
    position: fixed;
    margin: 20px 0 0 20px;
    z-index: 100;
    width: 65px;
    height: auto;
  }
  .header__title a svg {
    width: 65px;
    height: 65px;
  }
  .header__menu--btn {
    display: block;
    z-index: 200;
  }
  .header__nav {
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: -100vh;
    margin: 0;
    padding-top: calc(100vh * 0.2);
    width: 100%;
    background: white;
    z-index: 99;
    display: block;
    padding-left: 20px;
    height: 100vh;
    opacity: 0;
    -webkit-transition: all 800ms;
    transition: all 800ms;
  }
  .header .is-show {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 1;
  }
  .header .close-btn {
    display: block;
  }
  .header__nav--list {
    margin-bottom: 10px;
  }
  .header__nav--list li {
    margin-bottom: 10px;
    font-size: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav--list li:last-child {
    margin-top: 20px;
    font-size: 20px;
  }
  .header__sns--list li {
    margin-right: 16px;
  }
  .header__sns--list li:last-child {
    margin: 0;
  }
  .info {
    position: absolute;
  }
  .section__inr {
    padding: 0 20px;
    max-width: 100%;
  }
  .section__inr p {
    font-size: 14px;
  }
  .section__space--titleh3 {
    font-size: 45px;
  }
  .section-details li {
    font-size: 11px;
  }
  .section__space-popup--artist a {
    width: 48%;
  }
  .list__page .section__inr {
    padding: 0 100px;
  }
  .article__inr {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  .btn__close {
    top: 20px;
  }
  .selection__popup {
    overflow: hidden;
  }
  .selection__popup--inr {
    width: calc(100% - 80px);
    max-width: 300px;
    max-height: calc(100% - 80px);
    top: 50%;
    left: 50%;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-x: hidden;
  }
  .selection__popup--inr .selection__popup--txt {
    padding: 30px 10px 10px 10px;
  }
  .selection__popup--inr .selection__popup--txt p {
    line-height: 12px;
    margin-top: -18px;
  }
  .section__event--list-inr {
    padding: 10px !important;
  }
  .section__event--list li a img {
    width: 126px;
    height: auto;
  }
  .section__event--list-title {
    height: 36px;
    overflow: hidden;
  }
  .section__event--list li a h3 {
    font-size: 14px !important;
  }
  .section__event--list-text {
    margin-top: 5px !important;
  }
  .section__event--list li a p {
    font-size: 12px !important;
  }
  .section__picker--wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
  }
  .section__picker--person {
    display: block;
    padding: 30px 50px 0 50px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
  }
  .section__picker--person:nth-child(odd) {
    padding-top: 100px;
    padding-bottom: 0;
  }
  .section__picker--person:nth-child(odd) .section__picker--person-img::after {
    position: absolute;
    top: -80px;
    bottom: auto;
    left: -60px;
    margin-right: 0;
    width: 90px;
    height: 500px;
    background-size: 100% auto;
  }
  .section__picker--person:nth-child(even) {
    padding-top: 100px;
  }
  .section__picker--person:nth-child(even) .section__picker--person-img::after {
    position: absolute;
    top: -80px;
    left: auto;
    right: -60px;
    margin-right: 0;
    display: block;
    width: 90px;
    height: 500px;
    background-size: 100% auto;
  }
  .section__space--titleh3 span {
    height: 50px;
  }
  .section__picker--person-img {
    width: 80%;
    margin: 0 10%;
  }
  .section__picker--person-img.ito::after {
    background: url(images/picker/sp_ito.svg) no-repeat;
  }
  .section__picker--person-img.takeda::after {
    background: url(images/picker/sp_takeda.svg) no-repeat;
  }
  .section__picker--person-img.yamashita::after {
    background: url(images/picker/sp_yamashita.svg) no-repeat;
  }
  .section__picker--person-img.shikata::after {
    background: url(images/picker/sp_shikata.svg) no-repeat;
  }
  .section__picker--person-img.sawaragi::after {
    background: url(images/picker/sp_sawaragi.svg) no-repeat;
  }
  .section__picker--person-img.hidaka::after {
    background: url(images/picker/sp_hidaka.svg) no-repeat;
  }
  .section__picker--person-img.miyatsu::after {
    background: url(images/picker/sp_miyatsu.svg) no-repeat;
  }
  .section__about .section__about--txt {
    font-size: 16px;
  }
  .section__about .section__about--txt dt {
    position: relative;
  }
  .section__about .banner a {
    width: 44%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .section__about--indent2, .section__about--indent4, .section__about--indent5, .section__about--indent8 {
    padding-left: 0;
  }
  .section__picker--person-txt {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    width: 100%;
  }
  .section__picker--person-txt h3 {
    margin: 40px 0 20px;
  }
  .section__space-popup {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 20px;
  }
  .section__space-popup--info {
    display: block;
  }
  .section__space-popup--info-txt {
    width: 100%;
  }
  .section__space-popup--detail {
    margin-top: 30px;
  }
  .section__space-popup--detail div dd {
    width: auto;
    max-width: calc(100% - 80px);
  }
  .section__selection {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .section__selection--selectbox {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .section__selection--selectbox > div {
    width: 100%;
  }
  .section__selection--selectbox > div:first-child {
    margin-bottom: 40px;
  }
  .section__selection--selectbox > div > svg {
    max-width: 100%;
  }
  .section__picker-popup--select {
    display: block;
  }
  .section__picker-popup--select-img {
    margin-right: 0;
    width: 100%;
    overflow: hidden;
  }
  .section__picker-popup--txt {
    margin-top: 40px;
    width: 100%;
  }
  .section__picker-popup--art > li {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .section__picker-popup--art > li:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 568px) {
  section .section__title--txt,
  section .section__title--txt-2l {
    font-size: 63px;
    margin: 0 0 0 15px;
  }
  .section__about--exhibition {
    display: block;
  }
  .section__about--exhibition li {
    width: 100%;
  }
  .section__about--exhibition li + li {
    margin-top: 50px;
  }
  .section__picker--person-img:nth-child(odd) .section__picker--person-img::after, .section__picker--person-img:nth-child(even) .section__picker--person-img::after {
    top: -60px;
    margin-right: 0;
    width: 80px;
    height: 450px;
  }
  .section__space--titleh3 span {
    height: 30px;
  }
  .section__selection--list3:before, .section__space--list3:before {
    width: 48%;
  }
  .section__selection--list3:after, .section__space--list3:after {
    width: 48%;
  }
  .section__selection--list3 > li, .section__space--list3 > li {
    position: relative;
    width: 48%;
  }
  .section__selection--list3 > li .section__selection--list3-inr,
  .section__selection--list3 > li .section__space--list3-inr, .section__space--list3 > li .section__selection--list3-inr,
  .section__space--list3 > li .section__space--list3-inr {
    width: 100%;
    margin: 0 auto;
  }
  .section__selection--list3 > li .section__selection--list3-img,
  .section__selection--list3 > li .section__space--list3-img, .section__space--list3 > li .section__selection--list3-img,
  .section__space--list3 > li .section__space--list3-img {
    width: 100%;
    height: auto;
  }
  .section__space-popup--artist {
    display: block;
  }
  .section__space-popup--artist a {
    width: 100%;
  }
  .list__page .section__inr {
    padding: 0 50px;
  }
  .section__picker-popup--art > li {
    width: 100%;
    margin-right: 0;
  }
}

body.picker-popup {
  height: 100%;
  overflow: hidden;
}

body.picker-popup .section__picker-pop {
  display: block;
}

body.picker-popup .section__picker .section__inr {
  overflow-y: hidden;
}

body.space-popup {
  height: 100%;
  overflow: hidden;
}

body.space-popup .section__space-pop {
  display: block;
}

.section__space-popup--theta {
  display: none;
  position: relative;
}
/*# sourceMappingURL=style.css.map */