@charset "UTF-8";
/*!
Name: fujisan-v3
URI: http://
Author: Startbahn‎
Author URI: https://startbahn.jp/
Description: fujisan-v3
Version: 1.0
*/
/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1 Reset
2 Typography
3 Elements
4 Forms
5 Navigation
	Links
	Menus
6 layout
7 Content
	Posts and pages
	Header
	footer
	Widgets
	Comments


--------------------------------------------------------------*/
/* ================================== 
1. Resset 
================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ================================== 
2. Typography
================================== */
body {
  font-family: neue-haas-unica, Gothic MB101 Medium ,sans-serif;
  font-weight: 100;
  font-style: normal;
  
}
/* ================================== 
3 Elements
================================== */
body {
  color: #000;
}

.bgFuji {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* ================================== 
4 Forms 
================================== */
/* ================================== 
5 Navigation
================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    &__title {
      margin: 30px 0 60px 40px;
    }
    &__menu--btn {
      text-align: center;
      z-index: 200;
      position: fixed;
      top: 20px;
      left: 50%;
      margin-left: -2em;
      display: none;
    }
    &__nav {
      margin-left: 40px;
    }
    &__nav--list {     
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 20px;
      li {
        margin-bottom: 14px;
        &:last-child {
          margin: 20px 0 0;
        }
        a {
          color: #000;
          text-decoration: none;;
        }
      }
    }
    &__sns--list {
      display: flex;
      li {
      margin-right: 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .close-btn {
    display: none;
    text-align: center;
    margin-top: 10px;
    left: 50%;
    margin-left: -2.5em;
  }
}
.info {
  position: fixed;
  top: 30px;
  right: 40px;  
  z-index: 100; 
  &__inr {
    &--title {
      img {
        height: calc(100vh - 30px);
        width: auto;
      }
    }
  }
}



/* ================================== 
7 content
================================== */


section {
  padding: 100px 0;
  min-height: 100vh;
  position: relative;
  scroll-snap-type: y;
  .section__title {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .section__title--txt {
    position: sticky;
    top: calc(100vh - 1em - 30px);
    margin-left: 30px;
    font-weight: 100;
    font-size: 70px;
    z-index: 10;
    align-self: flex-end;
  }
  .section__title--txt-2l {
    position: sticky;
    top: calc(100vh - 2em - 30px);
    margin-left: 30px;
    font-weight: 100;
    font-size: 70px;
    z-index: 10;
    align-self: flex-end;
  }
}
.section {
  &__inr {
    max-width: 1010px;
    padding: 0 200px;
    margin: 0 auto;
    p {
      font-size: 18px;
      font-weight: 100;
      line-height: 2.1;
    }
  }
  &__about {
    padding-top: 540px;
    .section__about--read {
      font-size: 24px;
      margin-bottom: 60px;
    }
    .section__about--txt {
      font-size: 18px;
      margin-top: 30px;
    }
  }
  &__news--list {
    li {
      display:  flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #d0d0d0;
      time {
        width: 180px;
        display: block;
        font-size: 14px;;
      }
      h3 {
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 18px;
      }
      p {
        font-size: 14px;;
      }
    }
  }
  &__space {
    &--titleh3 {
      text-align: center;
      color: #fff;
      font-size: 90px;
      text-shadow: 0 0 1px #000;
      margin-bottom: 36px;
    }
    &--list3 {
      width: 100%;
      padding: 0 75px;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      li {
        width: 252px;
        img {
          width:100%;
          padding-bottom: 17px;
          margin-bottom: 17px;
          border-bottom: 1px solid #ccc;
        }
        h4 {

        }
        address {
          margin-top: 26px;
          font-style: normal;
        }
      }
      &-details {
        margin-top: 26px;
        li {
          width: 100%;
          padding-left: 20px;
          margin-bottom: 5px;
          line-height: 1.54;
          
        }
        li:nth-child(1) {
          background: url(images/icom_ca.png) left 6px no-repeat;

        }
        li:nth-child(2) {
          background: url(images/icon_time.png) left 6px  no-repeat;

        }
        li:nth-child(3) {
          margin-top: 10px;
          background: url(images/icon_map.png) left 6px  no-repeat;

        }
      }
    } 
  }
  &__picker {
      .section__inr {
        padding: 0;
        margin: 0;
        padding-bottom: 50px;
        margin-bottom: -50px;
        overflow-y: scroll;
        width: 100%;
        max-width: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
        &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
          display:none;
      }
    }

  }
  &__picker--wrap {
    display: flex;
    width: calc(75% * 7); /* 人数　*/
    padding-right: 150px;
    
  }
  &__picker--person {
    display: flex;
    padding-left: 150px;
    align-items: center;
    width: 75%;
    &-img {    
      width: 45%;
      margin-right: 30px;
      position: relative;
      display: inline-block;
      
      // デザインできたら背景画像にするかも
      img {
        width: 100%;
        height: auto;
      }
    }

    &-txt {
      width: 55%;
      h3 {
        font-size: 24px;
        margin-bottom: 34px;
      }
      p {
        line-height: 29px;
        font-size: 14px;
      }
    }
    &:nth-child(odd) {
      padding-bottom: 100px;
      .section__picker--person-img p {
        position: absolute;
        bottom: -150px;
        left: 140px;
        margin-right: -200%;
        display: block;
        font-size: 140px;
        font-weight: bold;
        text-shadow: 0 0 2px #666;
        color: #fff;
        z-index: -1;
      }
    }
    &:nth-child(even) {
      padding-top: 100px;
      .section__picker--person-img p {
        position: absolute;
        top: -150px;
        left: 140px;
        margin-right: -200%;
        display: block;
        font-size: 140px;
        font-weight: bold;
        text-shadow: 0 0 2px #666;
        color: #fff;
        z-index: -1;
      }     
    }
  }
}

@media only screen and (max-width: 1310px){
  .section {
    &__space--list3 {
      li {
        width: 32%;
      }
      &-details {
        li {
          width: 100%;
        }
      }
    }
    &__picker--person{
      &:nth-child(odd),
      &:nth-child(even) {
        .section__picker--person-img p {
          font-size: 110px;
          left: 120px;        
        }     
      }
    }
  }
}

@media only screen and (max-width: 900px){
  .section__title--txt,
  .section__title--txt-2l {
    font-size: 50px;
  }
  .section {
     &__space {
        &--titleh3 {
          font-size: 50px;
        }
        &--list3 {
          padding: 0;
          flex-wrap: wrap;
         > li {
            width: 48%;
          }
        }
      }

    &__picker--person-img{
      &:nth-child(odd),
      &:nth-child(even) {
        .section__picker--person-img p {
          font-size: 90px; 
          left: 100px;       
        }     
      }
    }
  }
}

@media only screen and (max-width: 768px){


  .header {
    position: fixed;
    width: 100%;
    &__title {
      position: fixed;
      margin: 20px 0 0 20px;
      z-index: 100;
      width: 65px;
      height: auto;
    }
    &__menu--btn {
      display: block;
      z-index: 200;
    }
    &__nav {
      position: fixed;
      top: 0;
      margin: 0;
      padding-top: 160px;
      width: 100%;
      background: rgba( 255, 255, 255, 0.85);
      z-index: 99;
      display: none;  
      padding-left: 20px;
      height: 100vh;

    }
    .is-show {
      display: block; 
    }
    .close-btn {
      display: block;
    }
    &__nav--list {     
      margin-bottom: 20px;
      li {
        margin-bottom: 20px;
        font-size: 60px;
        &:last-child {
          margin: 0;
        }
      }
    }
    &__sns--list {
      li {
      margin-right: 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

  .info {
    position: absolute;
  }
  .section__title--txt,
  .section__title--txt-2l {
    font-size: 40px;
  }
  .section {
    &__inr {
      padding: 0 20px;
      max-width: 100%;
      p {
        font-size: 14px;
      }
    }
    &__space {
      &--titleh3 {
        font-size: 35px;
      }
    }
    &-details {
      li {
        font-size: 11px;
      }
    }
    &__picker--wrap{
      flex-wrap: wrap;
      width: 100%;
      padding-right: 0;
    }

    &__picker--person{
      display: block;
      padding: 30px 50px 0 50px;
      margin: 0;
      width: 100%;
      overflow: hidden;
      padding-top: 100px; 
      &:nth-child(odd) {
        padding-top: 100px;
        padding-bottom: 0;
        .section__picker--person-img p {
          position: absolute;
          top: -80px;
          bottom: auto;
          left: -50px;
          margin-right: 0;
          font-size: 80px;
          width: 80px;
          line-height: 1;
        }
      }
      &:nth-child(even) {
        padding-top: 100px;
        .section__picker--person-img p {
          position: absolute;
          top: -80px;
          left: auto;
          right: -50px;
          margin-right: 0;
          display: block;
          font-size: 80px;
          width: 80px;
          line-height: 1;
        }     
      }
    }
    &__picker--person-img {
      width: 80%;
      margin: 0 10%;
    }
    &__picker--person-txt {
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      width: 100%;
      h3 {
        margin: 40px 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 568px){
 section {
    .section__title--txt,
    .section__title--txt-2l {
      font-size: 30px;
    }
  }
}