@charset "UTF-8";
/*!
Name: fujisan-v3
URI: http://
Author: Startbahn‎
Author URI: https://startbahn.jp/
Description: fujisan-v3
Version: 1.0
*/
/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1 Reset
2 Typography
3 Elements
4 Forms
5 Navigation
	Links
	Menus
6 layout
7 Content
	Posts and pages
	Header
	footer
	Widgets
	Comments


--------------------------------------------------------------*/
/* ================================== 
1. Resset 
================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
} /*
html {
  scroll-behavior: smooth;
}*/

body {
  line-height: 1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ================================== 
2. Typography
================================== */
body {
  font-family: neue-haas-unica,ゴシックMB101 M, Gothic MB101 ,sans-serif;
  font-style: normal;
}

.js-bg {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px 0 0;
  .letter {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1500ms;
    font-weight: 100;
    z-index: 1;
    font-size: 14px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% + 16px);
      min-width: 30px;
      background-color: #ffffff;
      bottom: -8px;
      left: 0;
      z-index: -1;
    }
  }
}

// top popup 表示style
body {
  &.select-pop {
    height: 100%;
    overflow: hidden;
    .selection__popup {
      display: block;
    }
  }
  &.space-popup {
    height: 100%;
    overflow: hidden;
    .section__space-pop {
      display: block;
    }
  }
}

/* ================================== 
3 Elements
================================== */
body {
  color: #4c2ee5;
  transition: all 1500ms;
  &.stop {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  &.purple {
    &.is-show {
      .header__title a svg {
        fill: #4c2ee5;
        stroke: #4c2ee5;
      }
      .header__menu--btn {
        color: #4c2ee5;
      }
    }
    background-color: #4c2ee5;
    .info__inr--title svg g {
      fill: #fff;
      stroke: #ffffff;
    }
    .section__title--txt {
      color: #fff;
    }
    .header__title a svg {
      fill: #ffffff;
      stroke: #ffffff;
    }
    .header__menu--btn {
      color: #ffffff;
    }
    @media screen and (min-width: 768px) {
      .header__sns--list li a {
        color: #fff;
      }
      .header__nav--list li a {
        color: #fff;
      }
      .header__nav--list li a svg .cls-1 {
        fill: #fff;
        stroke: #ffffff;
      }
    }
    .section__space--list3-inr:hover {
     color: #4c2ee5;
    }
    .section__space--list3-details li {
      color: #fff;
      a {
        color: #fff;
      }
      h4::after {
        background: #fff;
      }
    }
    .section__space--list3-inr {
      color: #ffffff;
      background-color: #4c2ee5;
    }
    .section__space--titleh3 svg .st0 {
      stroke: #ffffff;
    }
    .section__space--titleh3 span {
      &:before, &:after {
        background: #ffffff;
      }
    }
    .js-bg {
      .letter {
        color: #fff;
        &:after {
          background-color: #4c2ee5;
        }
      }
    }
  }
  &.red {
    &.is-show {
      .header__title a svg {
        fill: #4c2ee5;
        stroke: #4c2ee5;
      }
      .header__menu--btn {
        color: #4c2ee5;
      }
    }
    background-color: #f53d6e;
    .info__inr--title svg g {
      fill: #fff;
      stroke: #ffffff;
    }
    .section__title--txt {
      color: #fff;
    }
    .header__title a svg {
      fill: #ffffff;
      stroke: #ffffff;
    }
    .header__menu--btn {
      color: #ffffff;
    }
    @media screen and (min-width: 768px) {
      .header__sns--list li a {
        color: #fff;
      }
      .header__nav--list li a {
        color: #fff;
      }
      .header__nav--list li a svg .cls-1 {
        fill: #fff;
        stroke: #ffffff;
      }
    }
    .section__space--list3-details li {
      color: #fff;
      a {
        color: #fff;
      }
      h4::after {
        background: #fff;
      }
      &:hover {
        background: #fff;
        color: #f53d6e;
      }
    }
    .section__space--list3-inr {
      color: #ffffff;
      background-color: #f53d6e;
      &:hover {
        color: #f53d6e;
      }
    }
    .section__space--titleh3 svg .st0 {
      stroke: #ffffff;
    }
    .section__space--titleh3 span {
      &:before, &:after {
        background: #ffffff;
      }
    }
    .js-bg {
      .letter {
        color: #fff;
        &:after {
          background-color: #f53d6e;
        }
      }
    }
  }
  &.green {
    background-color: #65FAD1;
    .section__event--list li a {
      color: #4c2ee5;
      background-color: #65FAD1;
      &:hover {
        background: #fff;
      }
    }
    .info__inr--title svg g {
      fill: #4c2ee5;
      stroke: #4c2ee5;
    }
    .section__space--list3-inr {
      color: #4c2ee5;
      background-color: #65FAD1;
    }
    .header__title a svg {
      fill: #4c2ee5;
      stroke: #4c2ee5;
    }
    .header__menu--btn {
      color: #4c2ee5;
    }
    .section__space--titleh3 svg .st0 {
      stroke: #4c2ee5;
    }
    .section__space--list3-details li {
      h4::after {
        background: #4c2ee5;
      }
    }
    .section__space--titleh3 span {
      &:before, &:after {
        background: #4c2ee5;
      }
    }
    .js-bg {
      .letter {
        &:after {
          background-color: #65FAD1;
        }
      }
    }
  }
  .section__space--list3-inr:hover {
    background-color: #fff;
    transition: background-color 0.6s;
  }
}

.bgFuji {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* ================================== 
4 Forms 
================================== */
/* ================================== 
5 Navigation
================================== */

.selection__popup {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;

  &--inr {
    position: fixed;
    display: flex; 
    max-width: 1012px;
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-x: scroll;
    .selection__popup--txt {
      .btn__close { 
        stroke: #F53C6E;
        background: none;
        top: 40px;
      }
      width: 50%;
      max-width: 506px;
      padding: 70px 50px 50px 50px;
      background: #65F8CE;
      font-size: 12px;
      line-height: 20px;
      color: #F53C6E;
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      position: relative;
      h2 svg {
        width: 100%;
      }
    }
    .selection__popup--img {
      width: 50%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .black-background {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: fixed;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  &__title {
    margin: 30px 0 30px 40px;
    a {
      color: #000;
      text-align: justify;
      text-decoration: none;
      svg {
        transition: all 1500ms;
      }
    }
  }
  &__menu--btn {
    text-align: center;
    z-index: 200;
    position: fixed;
    width: 80px;
    top: 20px;
    left: 50%;
    margin-left: -40px;
    display: none;
    transition: all 1500ms;
  }
  &__nav {
    margin-left: 40px;
  }
  &__nav--list {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin: 20px 0 0;
      }
      a {
        color: #4c2ee5;
        text-decoration: none;
        min-height: 32px;
        &.startbahn {
          display: flex;
          font-size: 14px;
          align-items: center;
        }
      }
      svg {
        height: 21px;
        margin: 0 5px 0 0;
      }
    }
  }
  &__sns--list {
    display: flex;
    li {
      margin-right: 16px;
      font-size: 22px;
      line-height: 22px;
      a {
        color: #4c2ee5;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  .close-btn {
    display: none;
    text-align: center;
    width: 80px;
    position: fixed;
    left: 50%;
    margin-left: -40px;
    bottom: 60px;
  }
}
.info {
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 100;
  transition: all 1500ms;
  &__inr {
    &--title {
      svg {
        height: calc(100vh - 60px);
        width: auto;
      }
    }
  }
  @media screen and (max-width: 768px) {
    right: 15px;
  }
}
.acd-label{
  display: none;
}
.breadcrumb__list {
  color: #fff;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  li {
    margin: 0 20px 12px 0;
    display: inline-block;
    vertical-align: top;
    &:after {
      content: ">";
      padding-left: 20px;
    }
    &:last-child:after {
      content: none;
    }
    a {
      color: #65FAD1;
      text-decoration: none;
    }
  }
}

/* ================================== 
7 content
================================== */

section {
  padding: 100px 0;
  min-height: 100vh;
  position: relative;
  scroll-snap-type: y;
}

.section {
  &__title {
    pointer-events: none;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    &--txt {
      position: sticky;
      top: calc(100vh - 1em - 30px);
      margin-left: 30px;
      font-weight: 100;
      font-size: 110px;
      z-index: 102;
      align-self: flex-end;
      transition: all 1500ms;
    }
    &--txt-2l {    
      position: sticky;
      top: calc(100vh - 2em - 60px);
      margin-left: 30px;
      font-weight: 100;
      font-size: 80px;
      z-index: 10;
      align-self: flex-end;
      svg {
        width: 8em;
        fill: #ffffff;
        stroke: #ffffff;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
      @media screen and (max-width: 768px) {
        top: calc(100vh - 2em);
      }
    }
  }
  &__inr {
    max-width: 1010px;
    padding: 0 200px;
    margin: 0 auto;
    p {
      font-size: 18px;
      font-weight: 100;
      line-height: 1.5;
      word-break: break-all;
    }
  }

  /* ===== About section style ===== */
  &__about {
    padding-top: 190px;
    &--copy {
      font-size: 17px !important;
      line-height: 2.2 !important;
      background: #4c2ee5;
      padding: 10px;
      color: #fff;
      font-family: ゴシックMB101 L, Gothic MB101 Light;
      & + .section__about--copy {
        margin-top: 20px;
      }
    }
    &--exhibition {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      li {
        width: calc(50% - 30px);
        font-family: ゴシックMB101 M, Gothic MB101 Medium;
        .section__about--exhibition-title {
          font-size: 20px!important;
          line-height: 1.3;
          margin-bottom: 15px;
          background: #4c2ee5;
          color :#fff;
          display: inline-block;
          padding: 3px;
          font-family: ゴシックMB101 L, Gothic MB101 Light;
        }
        .section__about--exhibition-date {       
          background: #4c2ee5;
          color :#fff;
          padding: 3px;
          > p {
            line-height: 1.4;
            font-size: 15px;
          }
        }
        .section__about--exhibition-discription {
          margin-top: 15px !important;
          font-size: 14px !important;
          line-height: 1.8 !important;
        }
      }
    }
    .section__about--txt {    
      font-size: 18px;
      margin-top: 30px;
      position: relative;
      line-height: 1.6;
      font-family: ゴシックMB101 L, Gothic MB101 Light;  
      dt {
        position: absolute;
        top: 0;
        left: 0;
      }
      dd {
        word-break: break-all;
        a {
          display: inline;
          color: cornflowerblue;         
          &:hover {
            text-decoration: none;
          }
          &[href]:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    &--indent-no {
      text-indent: 0;
      padding: 0 0 0 58px;
      margin-top: 0!important;
    }
    &--indent2 {
      padding-left: 58px;
    }
    &--indent4 {
      padding-left: 90px;
    }
    &--indent5 {
      padding-left: 110px;
    }
    &--indent8 {
      padding-left: 144px;
    }
    .banner {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-right: -15px;
      a {
        display: block;
        padding: 9px 9px 5px 9px;
        background: #4c2ee5;
        width: calc((100% - 120px)/4);
        margin-right: 1%;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
    }
  }
 
  &__bgblue {
    display: inline-block !important;
    font-size: 14px;
    background: #4c2ee5;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    margin-bottom: 8px;
    padding-top: 4px;
    p {
      position: relative;
      display: inline-block;
      font-size: 14px;
      color: #fff;
      padding-right: 14px;
    }
    p::after {
      content: "/";
      color: #fff;
      text-align: center;
      width: 20px;
      display: inline-block;
      line-height: 20px;
      position: absolute;
      top: 50%;
      margin-top: -10px;
    }
    &:last-child:after {
      display: none;
    }
  }

  /* ===== Selection Satelite 共通 style ===== */
  &__selection,
  &__satelite {
    &--exhibition {
      margin-top: 60px;
      &-title {
        font-size: 24px!important;
        line-height: 1.3;
        padding: 3px;
        font-family: ゴシックMB101 L, Gothic MB101 Light;
        & .letter {
          font-size: 24px!important;
        }
      }
      &-txt {
        font-size: 24px!important;
        line-height: 1;
        margin-bottom: 25px;
        padding: 3px;
        font-family: ゴシックMB101 L, Gothic MB101 Light;
        & .letter {
          font-size: 24px!important;
        }
      }
      &-discription {
        margin-top: 15px !important;
        font-size: 14px !important;
        line-height: 1.8 !important;
      }
      > div {
        width: 100%;
        font-family: ゴシックMB101 M, Gothic MB101 Medium;
      }
    }
    &--txt {
      margin-top: 30px;
    }
    &--artist {
      font-size: 14px;
      text-decoration: none;
      line-height: 24px;
      margin-bottom: 8px;
      padding-top: 4px;
      color: #fff;
      margin-top: 30px;
      > div {
        display: flex;
        flex-flow: column;
      }
      div + div {
        margin-top: 30px;
      }
      dt {
        color:#fff;
      }
      dd {
        display: block;
        a {
          color: #65FAD1;
          text-decoration: none;
          &:after {
            content: "/";
            color: #fff;
            width: 16px;
            display: inline-block;
            text-align: center;
          }
        }
        span {
          color: #65FAD1;
        }
        a.buy-btn {
          color: #4c2ee5;
        }
      }
      span:after {
        content: "/";
        color: #fff;
        width: 16px;
        display: inline-block;
        text-align: center;
      }
    }
  }

  /* ===== Selection section style ===== */
  &__selection {
    &--exhibition {
      &-discription {
        color: #fff;
      }
    }
    &--list3 {
      margin-top: 90px;
      padding-top: 90px;
      border-top: 1px solid #d0d0d0;
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-wrap: wrap;
       //空きを均等割りで最終行を左寄せにするため
      &:before {
        content: "";
        display: block;
        width: 33%;
        order: 1;
      }
      &:after {
        content:"";
        display: block;
        width: 33%;
      }
      &-txt {
        font-size: 14px !important;
        margin-top: 26px;
        font-style: normal;
        line-height: 1.64;
        font-family: ゴシックMB101 L, Gothic MB101 Light;
      }
      &-artist {
        font-size: 12px;
        margin-top: 20px;
        line-height: 18px;
        dt {
          &::before {
            content: '■';
            display: inline-block;
          }
          &::after {
            content: '：';
            display: inline-block;
          }
        }
      }
      > li {
        width: 33%;
        margin: 0 0 80px 0;
        .section__selection--list3-inr {
          width: 252px;
          height: 100%;
          margin: 0 auto;
          overflow: hidden;
          background: #4c2ee5;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
          font-family: ゴシックMB101 L, Gothic MB101 Light;
          display: block;
        }
        .section__selection--list3-img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        img {
          width: 100%;
          text-align: center;
        }
        h4 {
          font-family: ゴシックMB101 M, Gothic MB101 Medium;
          font-size: 15px;
          line-height: 1.64;
          position: relative;
          margin-top: 34px;
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: #ccc;
            display: block;
            position: absolute;
            top: -17px;
            left: 0;
            right: 0;
          }
        }
      }
    }
     &--selectbox {
      margin-right: calc((100% - 756px)/6);
      margin-left: calc((100% - 756px)/6);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px 10px 10px;
      background: #4c2ee5;
      padding: 10px;
      color: #fff;
      > div {
        width: 46%;
        > svg {
          width: 100%;
          max-width: 382px;
        }
        p {
          font-size: 14px;
        }
        &:first-child {
          order: 1;
        }
      }
    }
    &--address {
      font-size: 15px;
      margin: 30px 0;
      line-height: 1.66;
      address {
        font-style: normal!important;
      }
    }
  }

  /* ===== Satelite section style ===== */
  &__satelite {

  }

  /* ===== News section style ===== */
  &__news {
    padding: 300px 0;
    min-height: auto;
    @media screen and (max-width: 768px) {
      padding: 100px 0;
    }
  }
  &__news--list {
    li a {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #d0d0d0;
      text-decoration: none;
      transition: all 500ms;
      color: #4c2ee5;
      &[href]:hover {
        .js-bg span.letter {
          color: #4c2ee5;
          &:after {
            background-color: #fff;
          }
        }
      }
      .section__news--tag {
        margin-bottom: 10px;
      }
      time {
        width: 180px;
        display: block;
        font-size: 14px;
        font-family: ゴシックMB101 M, Gothic MB101 Medium;
      }
      h3 {
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.3;
        font-family: ゴシックMB101 M, Gothic MB101 Medium;
      }
      p {
        font-size: 14px;
        font-family: ゴシックMB101 L, Gothic MB101 Light;
      }
      @media screen and (max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
        .section__news--list-time {
          padding-bottom: 6px;
        }
        h3 {
          margin: 0 0 15px;
        }
      }
    }
  }

  /* ===== Event section style ===== */
  &__event {
    padding: 300px 0;
    min-height: auto;
    @media screen and (max-width: 768px) {
      padding: 100px 0;
    }
  }
  &__event--list {
    &-title {
      height: 23px;
      overflow: hidden;
    }
    &-text {
      margin-top: 30px;
      height: 43px;
      overflow: hidden;
    }
    li a {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      text-decoration: none;
      transition: all 500ms;
      background: #4c2ee5;
      box-sizing: border-box;
      color: #fff;
      overflow: hidden;
      &:hover {
        background: #fff;
        color: #4c2ee5;   
      }
      img {
        width: 252px;
        height: auto;
        display: block;
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
      }
      .section__event--list-inr {
        padding: 0 10px;
      }
      h3 {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.3;
        font-family: ゴシックMB101 M, Gothic MB101 Medium;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      p {
        font-size: 14px;
        font-family: ゴシックMB101 L, Gothic MB101 Light;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      @media screen and (max-width: 768px){
        h3 {
          margin: 0 0 15px;
        }
      }
    }
  }

  /* ===== Space section style ===== */
  &__space {
    &--titleh3 {
      text-align: center;
      color: #fff;
      font-size: 90px;
      margin-bottom: 36px;
      text-shadow: #333 1px 1px 0px, #333 -1px 1px 0px, #333 1px -1px 0px, #333 -1px -1px 0px;
      overflow: hidden;
      span {
        position: relative;
        height: 75px;
        display: inline-block;
        svg {
          height: 100%;
          width: auto;
          vertical-align: top;
          .st0 {
            stroke-width: 0.5px;
          }
        }
      }
      span::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 1px;
        background: #333;
        top: 50%;
        left: calc(-200% - 10px);
        display: block;
      }
      span::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 1px;
        background: #333;
        top: 50%;
        right: calc(-200% - 10px);
        display: block;
      }
    }
    &--txt {    
      font-size: 18px;
      margin-top: 30px;
      position: relative;
      line-height: 1.6;
      font-family: ゴシックMB101 L, Gothic MB101 Light;  
      dt {
        position: absolute;
        top: 0;
        left: 0;
      }
      dd {
        word-break: break-all;
        a {
          display: inline;
          color: cornflowerblue;         
          &:hover {
            text-decoration: none;
          }
          &[href]:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    &--list3 {
      width: 100%;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-wrap: wrap;

      //空きを均等割りで最終行を左寄せにするため
      &:before {
        content: "";
        display: block;
        width: 33%;
        order: 1;
      }
      &:after {
        content:"";
        display: block;
        width: 33%;
      }
      > li {
        width: 33%;
        margin: 0 0 80px 0;
        cursor: pointer;
        .section__space--list3-inr {
          width: 252px;
          height: 100%;
          margin: 0 auto;
          overflow: hidden;
          padding: 10px;
          box-sizing: border-box;
          font-family: ゴシックMB101 L, Gothic MB101 Light;
          display: block;
        }
        .section__space--list3-img {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        img {
          width: 100%;
          height: auto;
        }
        h4 {
          font-family: ゴシックMB101 M, Gothic MB101 Medium;
          font-size: 15px;
          line-height: 1.64;
          position: relative;
          margin-top: 34px;
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: #ccc;
            display: block;
            position: absolute;
            top: -17px;
            left: 0;
            right: 0;
          }
        }
        address {
          font-size: 14px;
          margin-top: 26px;
          font-style: normal;
          line-height: 1.64;
          font-family: ゴシックMB101 L, Gothic MB101 Light;
        }
      }
      &-details {
        margin-top: 26px;
        li {
          display: block;
          width: 100%;
          margin-bottom: 5px;
          line-height: 1.54;
          a {
            color: #4c2ee5;
            text-decoration: none;
            cursor: pointer;
          }
        }
        // li:nth-child(1)::before {
        //   font-size: 14px;
        //   content:'\f073';
        //   font-family:'Font Awesome 5 Free';
        //   font-weight: 900;
        //   margin: 0 9px 0 1px;
        // }
        // li:nth-child(2)::before {
        //   font-size: 14px;
        //   content:'\f017';
        //   font-family:'Font Awesome 5 Free';
        //   font-weight:900;
        //   margin: 0 10px 0 0px;
        // }
        li:nth-child(1)::before {
          font-size: 14px;
          content: '\f3c5';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          margin: 0 8px 0 2px;
        }
      }
    } 
  }

  /* ===== Picker section style ===== */
  &__picker {
    .section__inr {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 0;
      margin: 0;
      padding-bottom: 50px;
      margin-bottom: -50px;
      overflow-y: scroll;
      width: 100%;
      max-width: 100%;
      overflow-y: scroll;
      -ms-overflow-style: none;/* IE, Edge 対応 */
      scrollbar-width: none; /* Firefox 対応 */
      &::-webkit-scrollbar { /* Chrome, Safari 対応 */
        display:none;
      }
      @media only screen and (max-width: 768px){
        position: relative;
        transform: translateY(0);
        top: auto;
        left: auto;
      }
    }
    &-pop {
      border-radius: 25px;
      background: #fff;
      display: inline-block;
      padding: 16px 25px 16px 25px;
      color: #F53D6E;
      font-size: 14px;
      margin-top: 20px;
      cursor: pointer;
      box-sizing: border-box;
      &:after {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 1px solid #F53D6E;
        border-right: 1px solid #F53D6E;
        transform: rotate(45deg);
        margin-left: 4px;
      }
    }
  }
  
  &__picker--wrap {
    display: flex;
    width: calc(75% * 7); /* 人数　*/
    padding-right: 150px;
  }
  &__picker--person {
    display: flex;
    padding-left: 150px;
    align-items: center;
    width: 75%;
    &-img {
      width: 45%;
      margin-right: 30px;
      position: relative;
      display: inline-block;
      // デザインできたら背景画像にするかも
      img {
        width: 100%;
        height: auto;
      }
      &.ito::after {
        background: url(images/picker/ito.svg)  no-repeat;
      }
      &.takeda::after {
        background: url(images/picker/takeda.svg)  no-repeat;
      }
       &.yamashita::after {
        background: url(images/picker/yamashita.svg)  no-repeat;
      }
      &.shikata::after {
        background: url(images/picker/shikata.svg)  no-repeat;
      }
      &.sawaragi::after {
        background: url(images/picker/sawaragi.svg)  no-repeat;
      }
      &.hidaka::after {
        background: url(images/picker/hidaka.svg)  no-repeat;
      }
      &.miyatsu::after {
        background: url(images/picker/miyatsu.svg)  no-repeat;
      }
    }
    &-txt {
      width: 55%;
      h3 {
        margin-bottom: 34px;
        line-height: 1.4;
        font-family: ゴシックMB101 M, Gothic MB101 Medium;
        span.letter {
          font-size: 24px;
        }
      }
      p {
        line-height: 29px;
        font-size: 14px;
        font-family: ゴシックMB101 L, Gothic MB101 Light;
      }
    }
    &:nth-child(odd) {
      padding-bottom: 100px;
      .section__picker--person-img::after {
        height: 120px;
        width: 620px;
        z-index: -1;
        position: absolute;
        display: block;
        bottom: -100px;
        left: 100px;
        content: "";
        background-position: left top;
        background-size: auto 100%;
        stroke: #fff;
      }
    }
    &:nth-child(even) {
      padding-top: 100px;
      .section__picker--person-img::after {
        height: 120px;
        width: 620px;
        z-index: -1;
        position: absolute;
        display: block;
        top: -100px;
        left: 100px;
        content: "";
        background-position: left top;
        background-size: auto 100%;
        stroke: #fff;
      }
    }
  }
 
  //下層一覧ページstyle
  &__news-press,
  &__events {
    padding-top: 204px;
  }
  &__space-pop {
    display: none;
    position: relative;
    .black-background {
      position: fixed;
      background: rgba(0,0,0, .4);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
    &up {
      color: #4C2FE5;
      box-sizing: border-box;
      padding: 40px;
      background: #fff;
      position: fixed;
      z-index: 10000;
      width: calc(100% - 40px);
      max-width: 880px;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 20px;
      overflow-x: scroll;
      h2 {
        font-size: 24px;
        padding-right: 30px;
      }
      h3 {
        font-size: 18px;
        font-weight: normal;
      }
      &--info {
        margin-top: 50px;
        display: flex;
        font-size: 14px;
        &-img {
          margin-right: 60px;
          width: 52.5%;
          height: 0;
          padding-top: 42.25%;
          position: relative;
          img {
            position: absolute;
            width: 100%;
            top: 0;
          }
        }
        &-txt {
          width: calc(47.5% - 60px);   
        }
        p {
          line-height: 2;
        }
      }
      &--detail {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #D0D0D0;
        div {
          display: flex;
          line-height: 22px;
          width: 100%;
          dt {
            width: 80px;
          }
          dd {
            width: calc(100% - 80px);
            a[target="_blank"] {
              text-overflow: ellipsis;
              padding-right: 18px;
              white-space: nowrap;
              max-width: 100%;
              display: inline-block;
              overflow: hidden;
              box-sizing: border-box;
              background: url(images/blank.png) center right no-repeat;
              background-size: 16px 16px;
            }
            pre {
              white-space: pre-wrap;
            }
          }
        }
      }
      &--artist {
        display: flex;
        justify-content: flex-start;
        flex-flow: wrap;
        font-size: 15px;
        margin-bottom: -20px;
        margin-right: -20px;
        a {
          display: flex;
          align-items: center;
          width: 33%;
          padding-right: 20px;
          margin-bottom: 20px;
          box-sizing: border-box;
          img {
            margin-right: 20px;
          }
        }
      }
      h3 {
        margin: 80px 0 30px;
      }
    }
  }
}

/* ===== Space Popup section style ===== */
.section__space-popup--inr {
  position: fixed;
  height: 0;
  width: calc(100% - 40px);
  max-width: 880px;
  z-index: 100000;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn__close {
  position: fixed;
  right: 38px;
  top: 32px;
  width: 44px;
  height: 44px;
  padding: 12px;
  display: inline;
  background: #fff;
  transform: translate(50%, 0);
  box-sizing: border-box;
  stroke: #4c2fe5;

}
.section__space-popup--btn {
  margin-top: 10px;
  line-height: 46px;
  background: #4C2FE5;
  color: #fff;
  border-radius: 23px;
  border: 1px solid #4C2FE5;
  box-sizing: border-box;
  text-align: center;
  width: 160px;
  font-size: 12px;
  display: block;
  text-decoration: none;
  #section__space-popup--blank {
    fill: #fff;
  }
  &:hover {
    background: #fff;
    color: #4C2FE5;
    #section__space-popup--blank {
      fill: #4C2FE5;
    }
  }
}
.closed-txt {
  background: #F53C6E;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  margin-bottom: 10px;
}
.icon-new {
  font-style: italic;
  font-weight: normal;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 20px;
  color: #F53C6E;
  background: #fff;
  margin-left: 8px;
}
.buy-btn {
  border-radius: 30px;
  background: #fff;
  display: inline-block;
  padding: 0px 25px;
  color: #4C2FE5;
  font-size: 14px;
  margin-top: 10px;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  margin: 10px 0;
  svg {
    margin: 0 0 -1px 5px;
  }
  svg g { 
    fill: #4C2FE5;
  }
}
.link__more {
  float: right;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1em;
  position: relative;
  &:after {
    content: "→";
    display: inline-block;
    margin-right: -1em;
  }
  &:before {
    position: absolute;
    content: "";
    display: block;
    background: #fff;
    height: 1px;
    left: 0;
    bottom: -2px;
    width: 0;
    transition: width 1s;
  }
  &:hover {
    color: #fff;
  }
  &:hover:before {
    width: 100%;
    transition: width 0.5s;
  }
}
#maps {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.acd-check,
.acd-check {
  display: none;
}
.acd-label{
  display: block;
  font-size: 14px;
  text-align: right;
  &:before {
    content: "もっと読む";
    color: #fff;
    display: block;
    margin-bottom: 1px;
    margin: 10px 20px;
    padding-right: 20px;
    background: url(images/icon_more.png) right center no-repeat;
    background-size: 12px 12px;
  }
}
.section__about--pullwrap {
  overflow: hidden;
  padding: 0;
  height: 0;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.acd-check:checked + .acd-label:before {
  content: "閉じる";
  background: url(images/icon_close.png) right center no-repeat;
  background-size: 12px 12px;
}
.acd-check:checked + .acd-label + .section__about--pullwrap {
  height: auto;
  opacity: 1;
  padding: 0;
  visibility: visible;
}

//ニュース等 記事個別ページ style
.article {
  &__inr {
    max-width: 1010px;
    padding: 0 200px 0;
    margin: 0 auto;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__content {
    margin: 0 40px;
    color: #fff;
   > p {
      margin-bottom: 37px;
      line-height: 1.5;
    }
    a {
      color: #65FAD1;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 40px;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1310px) {
  .section {
    &-details {
      li {
        width: 100%;
      }
    }
    &__picker--person {
      &:nth-child(odd),
      &:nth-child(even) {
        .section__picker--person-img p {
          font-size: 110px;
          left: 120px;        
        }     
      }
    }
  }
}

@media only screen and (max-width: 1160px) {

.selection__popup {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &--inr {
    position: fixed;
    max-width: 1012px;
    display: flex; 
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    .selection__popup--txt {
      width: 100%;
      padding: 70px 20px 20px 20px;
      background: #65F8CE;
      font-size: 11px;
      color: #F53C6E;
      box-sizing: border-box;
      margin: 0 auto;
      h2 svg {
        width: 100%;
      }
      p {
        line-height: 14px;
        max-width: 410px;
        margin: 0 auto;
      }
    }
    .selection__popup--img {
      width: 100%;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
  .black-background {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: fixed;
    }
  }
  .section {
    &__space--titleh3 {
      font-size: 70px;
    }
    &__selection--list3, 
    &__space--list3 {
      padding: 0;
      flex-wrap: wrap;
      > li {
          width: 50%;
      }
      //空きを均等割りで最終行を左寄せにするためのbefore after
      &:before {
        order: 1;
      }
      &:after {
        width: 50%;
      }
    }
    &__picker--person {
      &:nth-child(odd) {
        .section__picker--person-img::after {
          bottom: -80px;
          height: 90px;
          width: 500px;
          left: 90px;
        }
      }
      &:nth-child(even) {
        .section__picker--person-img::after {
          top: -80px;
          height: 90px;
          width: 500px;
          left: 90px;
        }
      }
    }
  } 
}

@media only screen and (max-width: 900px){
  .selection__popup {
    &--inr {
      display: block; 
      max-width: 360px;
      .selection__popup--txt {
        max-width: 360px;
      }

    }
  }
  section {
    .section__title--txt,
    .section__title--txt-2l {
      font-size: 60px;
    }
  }
  .icon-new {
    border:1px solid #F53C6E;
    margin-top: 8px;
  }
  .header {
    position: fixed;
    width: 100%;
    &__title {
      position: fixed;
      margin: 20px 0 0 20px;
      z-index: 100;
      width: 65px;
      height: auto;
    }
    &__menu--btn {
      display: block;
      z-index: 200;
    }
    &__nav {
      position: fixed;
      box-sizing: border-box;
      top: -100vh;
      margin: 0;
      padding-top: calc(100vh * 0.2);
      width: 100%;
      background: rgba( 255, 255, 255, 1);
      z-index: 99;
      display: block;
      padding-left: 20px;
      height: 100vh;
      opacity: 0;
      transition: all 800ms;
    }
    .is-show {
      transform: translateY(100vh);
      opacity: 1;
    }
    .close-btn {
      display: block;
    }
    &__nav--list {     
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
        font-size: 36px;
        display: flex;
        align-items: center;
        &:last-child {
          margin-top: 20px;
          font-size: 20px;
        }
      }
    }
    &__sns--list {
      li {
        margin-right: 16px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .info {
    position: absolute;
  }
  .section {
    &__inr {
      padding: 0 20px;
      max-width: 100%;
      p {
        font-size: 14px;
      }
    }
    &__space {
      &--titleh3 {
        font-size: 45px;
      }
    }
    &-details {
      li {
        font-size: 11px;
      }
    }
    &__space-popup--artist{
      a {
        width: 48%;
      }
    }
  }
  .list__page .section__inr {
    padding: 0 100px;
  }
  .article__inr {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 768px){

  .selection__popup {
    overflow: hidden;
    &--inr {
      width: calc(100% - 80px);
      max-width: 300px;
      max-height:calc(100% - 80px);
      top: 50%;
      left: 50%;
      z-index: 10000;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow-x: hidden;

      
      .selection__popup--txt {
        padding: 30px 10px 10px 10px;
        .btn__close {
          top: 15px;
        }
        p {
          line-height: 12px;
          margin-top: -18px;
        }
      }
    }
  }

  .section {
    &__event--list-inr {
      padding: 10px !important;
    }
    &__event--list li a img {
      width: 126px;
      height: auto;
    }
    &__event--list-title {
      height: 36px;
      overflow: hidden;
    }
    &__event--list li a h3 {
      font-size: 14px!important;
    }
    &__event--list-text {
      margin-top: 5px!important;
    }
    &__event--list li a p {
      font-size: 12px!important;
    }
    &__picker--wrap {
      flex-wrap: wrap;
      width: 100%;
      padding-right: 0;
    }
    &__picker--person {
      display: block;
      padding: 30px 50px 0 50px;
      margin: 0;
      width: 100%;
      overflow: hidden;
      padding-top: 100px; 
      &:nth-child(odd) {
        padding-top: 100px;
        padding-bottom: 0;
        .section__picker--person-img::after {
          position: absolute;
          top: -80px;
          bottom: auto;
          left: -60px;
          margin-right: 0;
          width: 90px;
          height: 500px;
          background-size: 100% auto;
        }
      }
      &:nth-child(even) {
        padding-top: 100px;
        .section__picker--person-img::after {
          position: absolute;
          top: -80px;
          left: auto;
          right: -60px;
          margin-right: 0;
          display: block;
          width: 90px;
          height: 500px;
          background-size: 100% auto;
        }     
      }
    }

    &__space--titleh3 {
      span {
        height: 50px;
      }
    }
    &__picker--person-img {
      width: 80%;
      margin: 0 10%;
      &.ito::after {
        background: url(images/picker/sp_ito.svg) no-repeat;
      }
      &.takeda::after {
        background: url(images/picker/sp_takeda.svg) no-repeat;
      }
       &.yamashita::after {
        background: url(images/picker/sp_yamashita.svg) no-repeat;
      }
      &.shikata::after {
        background: url(images/picker/sp_shikata.svg) no-repeat;
      }
      &.sawaragi::after {
        background: url(images/picker/sp_sawaragi.svg) no-repeat;
      }
      &.hidaka::after {
        background: url(images/picker/sp_hidaka.svg) no-repeat;
      }
      &.miyatsu::after {
        background: url(images/picker/sp_miyatsu.svg) no-repeat;
      }    
    }
    &__about {
      .section__about--txt {
        font-size: 16px;
        dt {
          position: relative;
        }
      }
      .banner {
        a {
          width: 44%;
          margin-right: 1%;
          margin-bottom: 1%;
        }
      }
    }
    &__about--indent2,
    &__about--indent4,
    &__about--indent5,
    &__about--indent8 {
      padding-left: 0;
    }
    &__picker--person-txt {
      width: 100%;
      font-size: 12px;
      line-height: 17px;
      width: 100%;
      h3 {
        margin: 40px 0 20px;
      }
    }
    &__space-popup {
      &--info {
        display: block;
        &-img {
          width: 100% !important;
          padding-top: 82.2%;
          margin-right: 0;
          margin-bottom: 10px;
          overflow: hidden;
          img {
            object-fit: cover;
            }
          }
        &-txt {
          width: 100%;
        }
      }
      &--detail {
        margin-top: 30px;
        div {
          dd {
            width: auto;
            max-width: calc(100% - 80px);
          }
        }
      }
    }
    &__selection {
      box-sizing: border-box;
      &--selectbox {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        > div {
          width: 100%;
          &:first-child {
            margin-bottom: 40px;
          }
          > svg {
            max-width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 568px){
  section {
    .section__title--txt,
    .section__title--txt-2l {
      font-size: 63px;
      margin: 0 0 0 15px;
    }
  }
  .section {
    &__about--exhibition {
      display: block;
      li {
        width: 100%;
        &+li {
          margin-top: 50px;
        }
      }
    }
    &__picker--person-img {
      &:nth-child(odd),
      &:nth-child(even) {
        .section__picker--person-img::after {
          top: -60px;
          margin-right: 0;
          width: 80px;
          height: 450px;
        }
      }
    }
    &__space--titleh3 {
      span {
        height: 30px;
      }
    }
    &__selection--list3,
    &__space--list3 {
      &:before{
        width: 48%;
      }
      &:after{
        width: 48%;
      }
      > li {
        position: relative;
        width: 48%;
        .section__selection--list3-inr,
        .section__space--list3-inr {
          width: 100%;
          margin: 0 auto;
        }
        .section__selection--list3-img,
        .section__space--list3-img {
          width: 100%;
          height: auto;       
        }
      }
    }
    &__space-popup--artist {
      display: block;
      a {
        width: 100%;
      }
    }
  }
  .list__page .section__inr {
    padding: 0 50px;
  }
}







//pop 
